{block title}Pracovní doba{/block}
{block content}
<div><a n:href="Workhours:edit $edit_id" class="btn btn-default ajax"><i class="entypo-back"></i></a></div>
<div class="content-wrapper">
    {control deleteBreakForm}
</div>
