@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&family=Roboto:ital,wght@0,300;0,400;0,500;1,500&family=Source+Code+Pro:wght@500&display=swap");


$text: 12px;
$text-1: 14px;
$text-2: 16px;
$text-3: 18px;
$text-4: 20px;
$text-5: 24px;
$text-6: 30px;
$text-7: 36px;
$text-8: 48px;
$text-9: 60px;
$text-10: 72px;

:root {
  --shadow-secondary: rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
  --border-radius: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;

  padding: 100px 0 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  //min-height: 100vh;
}

.login-container {
  h2 {
    font-size: 27px;
    text-align: center;
  }
}

#logo-login {
  width: 100%;
  display: flex;
  justify-content: center;
  svg, img {
    height: 200px;
  }

}

.login-box {
  padding: 30px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-secondary);
  width: 350px;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 15px;

  @media (max-width: 350px) {
    width: 100%;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;

    label {
      font-size: 16px;
    }

    input {
      padding: 10px 15px;
      border: 1px solid grey;
      border-radius: 5px;
      font-size: $text-2;
    }

    input[type="submit"] {
      background-color: #3b82f6;
      color: white;
      border-radius: calc(var(--border-radius) / 2) !important;
    }
  }
}

.login-info {
  color: grey;
  text-decoration: none;
}
