@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&family=Roboto:ital,wght@0,300;0,400;0,500;1,500&family=Source+Code+Pro:wght@500&display=swap");

:root {
  --left-nav-with: 250px;
  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --border: 1px solid #d4d4d4;
  --text-dark: #0a0a0a;
}

.back {
  background-color: white;
  border: var(--border);
  border-radius: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;

  margin-bottom: 10px;

  svg {
    stroke: #9ca3af !important;
  }
}

.back:hover {
  cursor: pointer;
  background: #eff6ff;

  svg {
    stroke: #3b82f6 !important;
  }
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: rgb(245, 245, 245);
}

.page-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: calc(var(--left-nav-with) + 50px);
  padding: 0 20px;
}

.menu-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  user-select: none;

  width: 100%;
  height: 50px;
  padding: 10px 0;
  max-width: 1200px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

#sidepanel-toggle {
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
  svg {
    margin: 0;
  }
}

#sidepanel-open-mobile {
  z-index: 5;
  position: fixed;
  top: 20px;
  left: 20px;
}

.sidepanel-toggle:hover {
  background-color: #dbeafe;
}

#logo {
  align-self: center;
  width: fit-content;
  text-align: center;
  margin: 20px 0;
}

#user-dropdown {
  position: absolute;
  padding: 5px 0px;
  border-radius: 27px;
  box-shadow: var(--shadow);
  top: 100%; /* Adjust as needed */
  right: 0;
  background-color: #ffffff;
  min-width: 250px;

  .user-dropdown-title {
    padding: 10px 20px;
    h2 {
      margin: 0;
      font-size: 18px;
    }
  }

  .user-dropdown-content {
    padding: 10px 20px;
    border-top: 1px solid #d4d4d4;
    //border-bottom: 1px solid #d4d4d4;

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        display: flex;
        align-items: center;
        padding: 5px 5px;
        border-radius: 10px;
        gap: 5px;
        width: 100%;
        box-sizing: border-box;

        a {
          color: var(--text-dark);
          text-decoration: none;
        }
      }
      li:hover {
        background-color: #dbeafe;
      }
    }
  }

  .user-dropdown-footer {
    padding: 10px 20px;

    div {
      padding: 5px 5px;
      width: 100%;
      box-sizing: border-box;
      border-radius: 10px;
    }

    a {
      color: var(--text-dark);
      text-decoration: none;
    }
    div:hover {
      background-color: #bfdbfe;
    }
  }
}

#user-avatar {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d4d4d4;

  display: flex;
  justify-content: center;
  align-items: center;

  span {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 20px;
    color: #3b82f6;
    font-weight: 500;
  }
}

ul {
  margin: 0;
  padding: 0;
}

.left-sidebar-container {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 200ms;

  background-color: #ffffff;
  border-right: 1px solid grey;
  width: var(--left-nav-with);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  padding: 0px 10px;

  .menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
  }

  .nav-el {
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    svg {
      width: 16px;
      path {
        stroke: var(--text-dark);
      }
    }

    a {
      display: flex;
      align-items: center;
      gap: 10px;
      text-decoration: none;
      color: var(--text-dark);
      user-select: none;
    }
  }

  .nav-el:hover {
    background-color: #eff6ff;
  }

  .selected {
    background-color: #eff6ff;

    a {
      color: #3b82f6;
    }
    svg path {
      stroke: #3b82f6;
    }
  }
}

@media (max-width: 1000px) {
  .left-sidebar-container {
    transform: translateX(-100%);
  }
  .page-wrapper {
    margin-left: 0;
  }
}
//Main

main {
  width: 100%;
  max-width: 1200px;
  padding-bottom: 50px !important;
}

h1 {
  font-size: 28px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.page-title {
  width: 100%;
  margin-bottom: 50px;
}

//table start

.table-wrapper {
  width: 100%;

  table {
    border: var(--border);
    background-color: #ffffff;
    width: 100%;
    padding: 30px;
    box-shadow: var(--shadow);
    border-radius: 27px;

    th {
      padding: 10px 10px;
    }

    thead {
      th {
        font-weight: bold;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #535353;
      }
      th {
        font-weight: 300;
      }
    }
  }
}

//buttons start

.btn {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 12px;
  background-color: #9ca3af;
  text-decoration: none;
  color: white;
  font-weight: 400;
  width: fit-content;
}
.btn:hover {
  filter: brightness(90%);
}

.btn-primary {
  background-color: #3b82f6;
  color: white;
}

.btn-danger {
  background-color: #ef4444;
  color: white;
}

.btn-gold {
  background: #fde68a;
  color: #713f12;
}

.btn-green {
  background: #d9f99d;
  color: #365314;
}

//buttons end

//tabulka end

//form start
.form-wrapper {
  width: 100%;
}

.form-info {
  font-size: 13px;
  font-weight: 300;
  color: grey;
}

.form-body {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;

    label {
      font-weight: 700;
      font-size: 14px;
    }

    input {
      padding: 10px 14px;
      border-radius: 5px;
      border: 1px solid #d4d4d4;
    }
    input:focus {
      border: 1px solid #3b82f6;
      outline: #3b82f6;
    }

    textarea {
      padding: 10px 14px;
      border-radius: 5px;
      border: 1px solid #d4d4d4;
      min-height: 100px;
    }

    textarea:focus {
      border: 1px solid #3b82f6;
      outline: #3b82f6;
    }

    select {
      position: relative;
      padding: 10px 14px;
      border-radius: 5px;
      border: 1px solid #d4d4d4;
      width: 100%;
    }

    select:focus {
      border: 1px solid #3b82f6;
      outline: #3b82f6;
    }

    .form-checkbox {
      display: flex;
      gap: 10px;
      align-items: center;
      label {
        font-weight: 400;
      }
      input {
        width: 18px;
        height: 18px;
        margin: 0;
      }
    }
  }

  .form-actions {
    display: flex;
    gap: 10px;

    .submit {
      input {
        cursor: pointer;
        background-color: #3b82f6;
        border-radius: 27px;
        padding: 10px 15px;
        border: 1px solid #3b82f6;
        color: #ffffff;
        font-size: 16px;
      }
    }
    .submit:hover {
      filter: brightness(90%);
    }

    .reset {
      a {
        font-size: 16px;
        display: flex;
        align-items: center;
        padding: 10px 15px;
        border-radius: 27px;
        border: 1px solid black;
        background: #e5e7eb;
        text-decoration: none;
        color: var(--text-dark);
        cursor: pointer;
      }
    }
    .reset:hover {
      filter: brightness(90%);
    }
  }
}

#calendar {
  width: 100%;
  margin-bottom: 20px;
  height: 60vh;
}

//full calendar
.fc-toolbar-chunk {
  button {
    background-color: #3b82f6 !important;
    border: none !important;
    border-radius: 17px !important;
    padding: 8px 15px !important;
    transition: 100ms !important;
  }
  .fc-button-active {
    background-color: #9ca3af !important;
    border: none !important;
    outline: none !important;
  }
  .fc-prevYear-button {
    border-radius: 17px 0 0 17px !important;
  }
  .fc-prev-button,
  .fc-next-button {
    border-radius: 0px !important;
  }
  .fc-nextYear-button {
    border-radius: 0 17px 17px 0 !important;
  }
}
.fc-view-harness {
  background: white;
}
//form end

//list start

.list-wrapper {
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: var(--border);
  border-radius: 27px;
  box-shadow: var(--shadow);
  padding: 30px 0;
  min-height: 100px;

  .list-item {
    border-top: var(--border);
    border-bottom: var(--border);
    .list-item-head {
      width: 100%;
      height: 100px;
      display: flex;
      gap: 10px;
      justify-content: space-between;
    }

    .list-item-head:hover {
      background-color: #e5e5e5;
    }

    .list-item-column {
      display: flex;
      flex: 1;
      gap: 5px;
      flex-direction: column;
      justify-content: center;
      padding: 0px 30px;
      font-size: 1.2em;
      font-weight: 300;

      .list-item-info {
        display: flex;
        flex-direction: column;
        font-weight: 300;
        font-size: 16px;

        .list-item-label {
          font-weight: 500;
        }
      }

      .list-item-more {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8em;

        .list-item-detail {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
        }
      }
    }

    .list-item-actions {
      justify-content: start !important;
    }

    .list-item-body {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex: 1;
      gap: 10px;
      justify-content: space-between;
      padding: 10px 0;
    }
  }
}

.list-page {
  display: flex;
  gap: 15px;
  padding: 15px 30px;

  .list-page-item {
    font-weight: 500;
    color: grey;
    text-decoration: none;
  }

  .list-page-item.selected {
    color: var(--text-dark) !important;
    text-decoration: 2px underline #3b82f6;
    text-underline-offset: 9px;
  }
}

//list end

//pagitation start
.pagination {
  display: flex;
  gap: 5px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

    a {
      height: 30px;
      width: 30px;
      border-radius: 100%;
      color: black;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  li.active {
    a {
      background: #3b82f6;
      color: white;
    }
  }
}
//pagitation end

//alerts

#flash-messages {
  animation: slideFromTop 1.5s ease-in-out;
  --width: 300px;
  text-align: center;
  width: var(--width);
  position: fixed;
  z-index: 100;
  top: 30px;
  right: calc(100vw / 2 - var(--width) / 2);

  padding: 15px;
  margin-bottom: 17px;
  border-radius: 27px;
  //border: 1px solid #d1d5db;
}

.success {
  background: #dcfce7;
  color: #16a34a;
}

.error {
  background: #fee2e2;
  color: #ef4444;
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
// alerts end
