@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&family=Roboto:ital,wght@0,300;0,400;0,500;1,500&family=Source+Code+Pro:wght@500&display=swap");

@mixin w($size) {
  @if ($size == sm) {
    @media (max-width: 500px) {
      @content;
    }
  }
  @if ($size == md) {
    @media (max-width: 900px) {
      @content;
    }
  }
}

$primary-50: #fff4f0;
$primary-100: #ffc5b5;
$primary-200: #fe9880;
$primary-300: #eb6c51;
$primary-400: #ce4629;
$primary-500: #a62b0e;
$primary-600: #781d08;
$primary-700: #4b1308;
$primary-800: #230803;
$primary-900: #050100;

$accent-50: #e7fdff;
$accent-100: #ade2f0;
$accent-200: #74c5da;
$accent-300: #31a8c3;
$accent-400: #008aa6;
$accent-500: #006b82;
$accent-600: #004c5e;
$accent-700: #002f3b;
$accent-800: #00151b;
$accent-900: #000203;

$green-50: #e9ffe4;
$green-100: #bce5b4;
$green-200: #8dca81;
$green-300: #60ae51;
$green-400: #3a9027;
$green-500: #20710a;
$green-600: #155006;
$green-700: #0f3207;
$green-800: #061603;
$green-900: #000200;

$yellow-50: #fff9d6;
$yellow-100: #e6d89a;
$yellow-200: #cdb753;
$yellow-300: #b39700;
$yellow-400: #927900;
$yellow-500: #715c00;
$yellow-600: #524100;
$yellow-700: #342800;
$yellow-800: #171100;
$yellow-900: #030200;

$gray-50: #f7f9f9;
$gray-100: #d5d8d9;
$gray-200: #b4b8b9;
$gray-300: #94999a;
$gray-400: #767c7d;
$gray-500: #595f60;
$gray-600: #3f4344;
$gray-700: #27292a;
$gray-800: #111212;
$gray-900: #020202;

$text: 12px;
$text-1: 14px;
$text-2: 16px;
$text-3: 18px;
$text-4: 20px;
$text-5: 24px;
$text-6: 30px;
$text-7: 36px;
$text-8: 48px;
$text-9: 60px;
$text-10: 72px;

$shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
$shadow-lx: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
$shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);

:root {
  --main-padding: 20px;
  --left-nav-with: 250px;
  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --border: 1px solid #d4d4d4;
  --text-dark: #0a0a0a;
  --border-radius: 10px;
}

.back {
  background-color: white;
  border: var(--border);
  border-radius: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;

  margin-bottom: 10px;

  svg {
    stroke: #9ca3af !important;
  }
}

.back:hover {
  cursor: pointer;
  background: $primary-50;

  svg {
    stroke: $primary-400 !important;
  }
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: $gray-50;
}

.page-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  //margin-left: calc(var(--left-nav-with) + 50px);
}

.menu-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  user-select: none;

  width: 100%;
  height: 50px;
  padding: 10px 0;
  max-width: 1200px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

#sidepanel-toggle {
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: calc(var(--border-radius) / 2);
  cursor: pointer;
  svg {
    margin: 0;
  }
}

#sidepanel-open-mobile {
  z-index: 5;
  position: fixed;
  top: 20px;
  left: 20px;
}

.sidepanel-toggle:hover {
  background-color: #dbeafe;
}

#logo {
  align-self: center;
  width: fit-content;
  text-align: center;
  margin: 20px 0;
}

#user-dropdown {
  z-index: 1000;
  position: absolute;
  padding: 5px 0px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  top: 100%; /* Adjust as needed */
  right: 0;
  background-color: #ffffff;
  min-width: 250px;

  .user-dropdown-title {
    padding: 10px 20px;
    h2 {
      margin: 0;
      font-size: 18px;
    }
  }

  .user-dropdown-content {
    padding: 10px 20px;
    border-top: 1px solid $gray-100;
    //border-bottom: 1px solid #d4d4d4;

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        display: flex;
        align-items: center;
        padding: 5px 5px;
        border-radius: calc(var(--border-radius) / 2);
        gap: 5px;
        width: 100%;
        box-sizing: border-box;

        a {
          color: var(--text-dark);
          text-decoration: none;
        }
      }
      li:hover {
        background-color: $primary-50;
      }
    }
  }

  .user-dropdown-footer {
    padding: 10px 20px;

    div {
      padding: 5px 5px;
      width: 100%;
      box-sizing: border-box;
      border-radius: calc(var(--border-radius) / 2);
    }

    a {
      color: var(--text-dark);
      text-decoration: none;
    }
    div:hover {
      background-color: $primary-50;
    }
  }
}

#user-avatar:hover {
  background-color: $primary-100;
}

#user-avatar {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $gray-100;
  transition: 150ms;

  display: flex;
  justify-content: center;
  align-items: center;

  span {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 20px;
    color: $primary-400;
    font-weight: 500;
  }
}

ul {
  margin: 0;
  padding: 0;
}

.left-sidebar-container {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 200ms;

  background-color: #ffffff;
  border-right: 1px solid grey;
  width: var(--left-nav-with);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  padding: 0px 10px;

  @include w(md) {
    transform: translateX(-100%);
  }

  .menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
  }

  .nav-el {
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    border-radius: calc(var(--border-radius) / 2);
    svg {
      width: 16px;
      path {
        stroke: var(--text-dark);
      }
    }

    a {
      display: flex;
      padding: 10px 20px;
      align-items: center;
      gap: 10px;
      text-decoration: none;
      color: var(--text-dark);
      user-select: none;
    }
  }

  .nav-el:hover {
    background-color: $primary-50;
  }

  .selected {
    background-color: $primary-50;

    a {
      color: $primary-500;
    }
    svg path {
      stroke: $primary-500;
    }
  }
}

//Main

main {
  margin-left: calc(var(--left-nav-with) + var(--main-padding));
  padding: 0 var(--main-padding);
  width: 100%;
  max-width: 1200px;
  padding-bottom: 50px !important;
  transition: 200ms;

  @include w(md) {
    margin-left: 0 !important;
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.page-title {
  width: 100%;
  margin-bottom: 20px;
}

//table start

.table-wrapper {
  width: 100%;

  table {
    border: var(--border);
    background-color: #ffffff;
    width: 100%;
    padding: 30px;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);

    th {
      padding: 10px 10px;
    }

    thead {
      th {
        font-weight: bold;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #535353;
      }
      th {
        font-weight: 300;
        line-height: 30px;
        max-width: 200px;
      }
    }
  }
}

//buttons start

.btn {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: calc(var(--border-radius) / 2);
  background: #9ca3af;
  text-decoration: none;
  color: black;
  font-weight: 400;
  width: fit-content;
  transition-duration: 100ms;
}

.btn-c-primary {
  background-color: $primary-300;
  border-color: $primary-300 !important;
  color: $primary-400;
}

.btn-secondary {
  background: none !important;
  border: 2px solid $gray-500;
}

.btn-tertiary {
  background: none !important;
  border: none;
  color: $primary-400;
}
.btn:hover {
  filter: brightness(90%);
}

.btn-primary {
  background-color: $primary-200;
  border: 2px solid $primary-200;
  color: $primary-900;
}

.btn-danger {
  background-color: #ef4444;
  color: white;
}

.btn-gold {
  background: $yellow-200;
  border: 2px solid $yellow-200 !important;
  color: $yellow-500;
}

.btn-green {
  background: $green-200;
  border: 2px solid $green-200;
  color: $green-500;
}

.btn-default {
  background: $gray-200;
  border: 2px solid $gray-200;
  color: $gray-500;
}

//buttons end

//tabulka end

//form start
.form-wrapper {
  width: 100%;
}

.form-info {
  font-size: 13px;
  font-weight: 300;
  color: $gray-500;
}

.form-body {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;

    label {
      font-weight: 500;
      font-size: $text-1;
    }

    input {
      box-shadow: $shadow-inner;
      padding: 10px 14px;
      border-radius: 5px;
      border: 1px solid $gray-100;
    }
    input:focus {
      border: 1px solid $primary-200;
      outline: $primary-100;
    }

    textarea {
      padding: 10px 14px;
      border-radius: 5px;
      border: 1px solid #d4d4d4;
      min-height: 100px;
    }

    textarea:focus {
      border: 1px solid $primary-400;
      outline: $primary-400;
    }

    select {
      position: relative;
      padding: 10px 14px;
      border-radius: 5px;
      border: 1px solid #d4d4d4;
      width: 100%;
    }

    select:focus {
      border: 1px solid $primary-400;
      outline: $primary-400;
    }

    .form-checkbox {
      display: flex;
      gap: 10px;
      align-items: center;
      label {
        font-weight: 400;
      }
      input {
        width: 18px;
        height: 18px;
        margin: 0;
      }
    }
  }

  .form-actions {
    display: flex;
    gap: 10px;

    .submit {
      input {
        cursor: pointer;
        background-color: $primary-400;
        border-radius: calc(var(--border-radius) / 2);
        padding: 5px 10px;
        border: 2px solid $primary-400;
        color: #ffffff;
        font-size: $text-2;
      }
    }
    .submit:hover {
      filter: brightness(90%);
    }

    .reset {
      a {
        font-size: 16px;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border-radius: calc(var(--border-radius) / 2);
        border: 2px solid $gray-400;
        background: none;
        text-decoration: none;
        color: var(--text-dark);
        cursor: pointer;
      }
    }
    .reset:hover {
      filter: brightness(90%);
    }
  }
}

#calendar {
  width: 100%;
  margin-bottom: 20px;
  height: 60vh;
}

//full calendar

.fc-event-main {
  background-color: $primary-300 !important;
  border: none;
}
.fc-toolbar-chunk {
  button {
    background-color: $primary-300 !important;
    border: none !important;
    border-radius: calc(var(--border-radius) / 2) !important;
    padding: 5px 10px !important;
    transition: 100ms !important;
    outline: none !important;
  }

  button:focus {
    outline: none !important;
  }
  button:hover {
    filter: brightness(90%);
  }
  .fc-button-active {
    background-color: $gray-300 !important;
    border: none !important;
    outline: none !important;
  }
  .fc-toolbar-title {
    font-size: $text-4;
    font-weight: 400;
  }
  .fc-prevYear-button {
    border-radius: calc(var(--border-radius) / 2) 0 0
      calc(var(--border-radius) / 2) !important;
  }
  .fc-prev-button,
  .fc-next-button {
    border-radius: 0px !important;
  }
  .fc-nextYear-button {
    border-radius: 0 calc(var(--border-radius) / 2)
      calc(var(--border-radius) / 2) 0 !important;
  }
}
.fc-view-harness {
  background: white;
}

.form-input-row {
  display: flex;
  flex-direction: row !important;
  div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

//form end

//list start

.list-wrapper {
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: 30px 0;
  min-height: 100px;

  .list-item {
    border-top: var(--border);
    border-bottom: var(--border);
    .list-item-head {
      width: 100%;
      height: 100px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .list-item-head:hover {
      background-color: #e5e5e5;
    }

    .list-item-column {
      display: flex;
      flex: 1;
      gap: 5px;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      padding: 0px 30px;
      font-size: $text-3;
      font-weight: 300;

      .list-item-info {
        display: flex;
        flex-direction: column;
        font-weight: 300;
        font-size: 16px;

        .list-item-label {
          font-weight: 500;
        }

        b {
          font-weight: 500;
        }
      }

      .list-item-detail {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 5px;

        svg {
          transition-duration: 100ms;
        }
      }

      .list-item-more {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $text !important;
      }
    }

    .list-item-actions {
      justify-content: start !important;
    }

    .list-item-body {
      box-sizing: border-box;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 3fr;
      padding: 10px 0;
    }
  }
}
.list-page {
  display: flex;
  padding: 5px 30px;
  justify-content: space-between;

  .list-tabs {
    display: flex;
    gap: 10px;
  }

  .filter-toggle {
    cursor: pointer;
  }
  #list-filter {
    position: relative;
    top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 20px;

    span {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .filter-toggle {
      svg {
        height: 20px;
        width: 20px;
        transition: 100ms;

        padding: 5px;
        border-radius: 5px;
      }

      svg:hover {
        background-color: #dbeafe;
      }
      svg {
        height: 20px;
        width: 20px;
        transition: 100ms;

        padding: 5px;
        border-radius: 5px;
      }

      svg:hover {
        background-color: #dbeafe;
      }
    }

    .filter-dropdown {
      z-index: 10;
      position: absolute;
      top: 100%;
      right: 5px;
      background-color: white;
      padding: 20px;
      border-radius: var(--border-radius);
      border: var(--border);
      box-shadow: var(--shadow);

      ul {
        list-style: none;
        li {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
      }
    }
  }

  .list-page-item {
    font-weight: 500;
    color: grey;
    text-decoration: none;
  }

  .list-page-item.selected {
    color: var(--text-dark) !important;
    text-decoration: 2px underline $primary-300;
    text-underline-offset: 9px;
  }
}

//list end

//pagitation start
.pagination {
  display: flex;
  gap: 5px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

    a {
      height: 30px;
      width: 30px;
      border-radius: 100%;
      color: black;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  li.active {
    a {
      background: $primary-400;
      color: white;
    }
  }
}
//pagitation end

//alerts

#flash-messages {
  animation: slideFromTop 1.5s ease-in-out;
  --width: 300px;
  text-align: center;
  width: var(--width);
  position: fixed;
  z-index: 100;
  top: 30px;
  right: calc(100vw / 2 - var(--width) / 2);

  padding: 15px;
  margin-bottom: 17px;
  border-radius: var(--border-radius);
  //border: 1px solid #d1d5db;
}

.success {
  background: #dcfce7;
  color: #16a34a;
}

.error {
  background: #fee2e2;
  color: #ef4444;
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
// alerts end
