@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  min-width: 0;
}

:root {
  --main-padding: 20px;
  --left-nav-with: 250px;
  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --border: 1px solid #d4d4d4;
  --text-dark: #0a0a0a;
  --border-radius: 10px;
}

.page-title h1 {
  color: #3f4344;
  font-size: 20px;
}

.back {
  background-color: white;
  border: var(--border);
  border-radius: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  transition: 100ms;
  margin-bottom: 10px;
}
.back:hover {
  cursor: pointer;
  background: #fff4f0;
}
.back:hover svg {
  stroke: #ce4629 !important;
}
.back svg {
  stroke: #9ca3af !important;
}

body {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #f7f9f9;
}

.page-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.menu-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  height: 50px;
  padding: 10px 0;
  max-width: 1200px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

#sidepanel-toggle {
  display: flex;
  visibility: hidden;
  align-items: center;
  padding: 3px;
  border-radius: calc(var(--border-radius) / 2);
  cursor: pointer;
}
@media (max-width: 900px) {
  #sidepanel-toggle {
    visibility: visible;
  }
}
#sidepanel-toggle svg {
  margin: 0;
}

#sidepanel-open-mobile {
  z-index: 5;
  position: fixed;
  top: 20px;
  left: 20px;
}

.sidepanel-toggle:hover {
  background-color: #dbeafe;
}

#logo {
  align-self: center;
  text-align: center;
  margin: 20px 0;
}
#logo img {
  height: 70px;
}

#user-dropdown {
  z-index: 1000;
  position: absolute;
  padding: 5px 0px;
  border: 1px solid rgba(26, 26, 26, 0.1);
  border-radius: var(--border-radius);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  top: 100%; /* Adjust as needed */
  right: 0;
  background-color: #ffffff;
  min-width: 250px;
}
#user-dropdown .user-dropdown-title {
  padding: 10px 20px;
}
#user-dropdown .user-dropdown-title h2 {
  margin: 0;
  font-size: 18px;
}
#user-dropdown .user-dropdown-content {
  padding: 10px 20px;
  border-top: 1px solid #d5d8d9;
}
#user-dropdown .user-dropdown-content ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#user-dropdown .user-dropdown-content ul li {
  display: flex;
  align-items: center;
  padding: 5px 5px;
  border-radius: calc(var(--border-radius) / 2);
  gap: 5px;
  width: 100%;
  box-sizing: border-box;
}
#user-dropdown .user-dropdown-content ul li a {
  color: var(--text-dark);
  text-decoration: none;
}
#user-dropdown .user-dropdown-content ul li:hover {
  background-color: #fff4f0;
}
#user-dropdown .user-dropdown-footer {
  padding: 10px 20px;
}
#user-dropdown .user-dropdown-footer div {
  padding: 5px 5px;
  width: 100%;
  box-sizing: border-box;
  border-radius: calc(var(--border-radius) / 2);
}
#user-dropdown .user-dropdown-footer a {
  color: var(--text-dark);
  text-decoration: none;
}
#user-dropdown .user-dropdown-footer div:hover {
  background-color: #fff4f0;
}

#user-avatar {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d5d8d9;
  transition: 150ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
#user-avatar:hover {
  background-color: #ffc5b5;
}
#user-avatar span {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 20px;
  color: #ce4629;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
}

.left-sidebar-container {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 200ms;
  background-color: #ffffff;
  border-right: 1px solid rgba(26, 26, 26, 0.1);
  width: var(--left-nav-with);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 0px 10px;
}
@media (max-width: 900px) {
  .left-sidebar-container {
    transform: translateX(-100%);
  }
}
.left-sidebar-container .menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 86vh;
}
.left-sidebar-container .nav-el {
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  border-radius: calc(var(--border-radius) / 2);
}
.left-sidebar-container .nav-el:hover {
  background-color: #fff4f0;
}
.left-sidebar-container .nav-el svg {
  width: 16px;
}
.left-sidebar-container .nav-el svg path {
  stroke: var(--text-dark);
}
.left-sidebar-container .nav-el a {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--text-dark);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.left-sidebar-container .selected {
  background-color: #fff4f0;
}
.left-sidebar-container .selected a {
  color: #a62b0e;
}
.left-sidebar-container .selected svg path {
  stroke: #a62b0e;
}

main {
  margin-left: calc(var(--left-nav-with) + var(--main-padding));
  padding: 0 var(--main-padding);
  width: 100%;
  max-width: 1200px;
  padding-bottom: 50px !important;
  transition: 200ms;
}
@media (max-width: 900px) {
  main {
    margin-left: 0 !important;
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.page-title {
  width: 100%;
  margin-bottom: 20px;
}

.table-wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  border: 1px solid rgba(26, 26, 26, 0.1);
  background-color: #ffffff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  overflow: auto;
}
.table-wrapper table {
  border-collapse: collapse;
  width: 100%;
  min-width: 800px;
}
.table-wrapper table th {
  width: -moz-fit-content;
  width: fit-content;
}
.table-wrapper table thead th {
  font-weight: bold;
  border-bottom: 1px solid #b4b8b9;
  padding: 0 10px 10px;
}
.table-wrapper table tbody tr {
  border-bottom: 1px solid #d5d8d9;
}
.table-wrapper table tbody tr:last-child {
  border-bottom: none;
}
.table-wrapper table tbody th {
  font-weight: 300;
  line-height: 35px;
  max-width: 200px;
  padding: 15px 10px;
}

.btn {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: calc(var(--border-radius) / 2);
  background: #9ca3af;
  text-decoration: none;
  color: black;
  font-weight: 400;
  width: -moz-fit-content;
  width: fit-content;
  transition-duration: 100ms;
}

.btn-c-primary {
  background-color: #eb6c51;
  border-color: #eb6c51 !important;
  color: #ce4629;
}

.btn-secondary {
  background: none !important;
  border: 2px solid #595f60;
}

.btn-tertiary {
  background: none !important;
  border: none;
  color: #ce4629;
}

.btn:hover {
  filter: brightness(90%);
}

.btn-primary {
  background-color: #fe9880;
  border: 2px solid #fe9880;
  color: #050100;
}

.btn-danger {
  background-color: #ef4444;
  color: white;
}

.btn-gold {
  background: #cdb753;
  border: 2px solid #cdb753 !important;
  color: #715c00;
}

.btn-green {
  background: #8dca81;
  border: 2px solid #8dca81;
  color: #20710a;
}

.btn-default {
  background: #b4b8b9;
  border: 2px solid #b4b8b9;
  color: #595f60;
}

.form-wrapper {
  width: 100%;
}

.form-info {
  font-size: 13px;
  font-weight: 300;
  color: #595f60;
}

.form-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-body .form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media (max-width: 500px) {
  .form-body .form-group {
    justify-content: center;
    width: 100% !important;
  }
}
.form-body .form-group label {
  font-weight: 500;
  font-size: 14px;
}
.form-body .form-group input {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  padding: 10px 14px;
  border-radius: 5px;
  border: 1px solid #d5d8d9;
  font-size: 16px;
  max-width: 270px;
}
@media (max-width: 500px) {
  .form-body .form-group input {
    max-width: unset;
  }
}
.form-body .form-group input:focus {
  border: 1px solid #fe9880;
  outline: #ffc5b5;
}
.form-body .form-group input.disabled {
  background: #d5d8d9;
  cursor: not-allowed;
}
.form-body .form-group input.disabled:focus {
  border: 1px solid #d5d8d9;
  outline: #d5d8d9;
}
.form-body .form-group textarea {
  padding: 10px 14px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  min-height: 100px;
}
.form-body .form-group textarea:focus {
  border: 1px solid #ce4629;
  outline: #ce4629;
}
.form-body .form-group select {
  position: relative;
  padding: 10px 14px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  width: 100%;
}
.form-body .form-group select:focus {
  border: 1px solid #ce4629;
  outline: #ce4629;
}
.form-body .form-group .form-checkbox {
  display: flex;
  gap: 10px;
  align-items: center;
}
.form-body .form-group .form-checkbox label {
  font-weight: 400;
}
.form-body .form-group .form-checkbox input {
  width: 18px;
  height: 18px;
  margin: 0;
}
.form-body .form-actions {
  display: flex;
  gap: 10px;
}
.form-body .form-actions .submit:hover {
  filter: brightness(90%);
}
.form-body .form-actions .submit input {
  cursor: pointer;
  background-color: #ce4629;
  border-radius: calc(var(--border-radius) / 2);
  padding: 5px 10px;
  border: 2px solid #ce4629;
  color: #ffffff;
  font-size: 16px;
}
.form-body .form-actions .reset:hover {
  filter: brightness(90%);
}
.form-body .form-actions .reset a {
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: calc(var(--border-radius) / 2);
  border: 2px solid #767c7d;
  background: none;
  text-decoration: none;
  color: var(--text-dark);
  cursor: pointer;
}

#calendar {
  width: 100%;
  margin-bottom: 20px;
  height: 60vh;
}

.fc-event-main {
  background-color: #eb6c51 !important;
  border: none;
}

.fc-toolbar-chunk button {
  background-color: #eb6c51 !important;
  border: none !important;
  border-radius: calc(var(--border-radius) / 2) !important;
  padding: 5px 10px !important;
  transition: 100ms !important;
  outline: none !important;
}
.fc-toolbar-chunk button:hover {
  filter: brightness(90%) !important;
}
.fc-toolbar-chunk button:focus {
  outline: none !important;
}
.fc-toolbar-chunk .fc-button-active {
  background-color: #94999a !important;
  border: none !important;
  outline: none !important;
}
.fc-toolbar-chunk .fc-toolbar-title {
  font-size: 20px;
  font-weight: 400;
}
.fc-toolbar-chunk .fc-prevYear-button {
  border-radius: calc(var(--border-radius) / 2) 0 0 calc(var(--border-radius) / 2) !important;
}
.fc-toolbar-chunk .fc-prev-button,
.fc-toolbar-chunk .fc-next-button {
  border-radius: 0px !important;
}
.fc-toolbar-chunk .fc-nextYear-button {
  border-radius: 0 calc(var(--border-radius) / 2) calc(var(--border-radius) / 2) 0 !important;
}

.fc-view-harness {
  background: white;
}

.list-no-data {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-no-data span {
  text-align: center;
}

.list-wrapper {
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(26, 26, 26, 0.1);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: 15px 0 30px;
  min-height: 100px;
  box-sizing: border-box;
}
.list-wrapper .list-items {
  overflow-x: auto;
}
.list-wrapper .list-item {
  min-width: 900px;
  border-top: var(--border);
  border-bottom: var(--border);
}
.list-wrapper .list-item.open .list-item-detail svg {
  transform: rotate(90deg);
}
.list-wrapper .list-item .list-item-head {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  transition-duration: 100ms;
}
.list-wrapper .list-item .list-item-head:hover {
  background-color: #e5e5e5;
}
.list-wrapper .list-item .list-item-column {
  display: flex;
  flex: 1;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0px 30px;
  font-size: 18px;
  font-weight: 300;
}
.list-wrapper .list-item .list-item-column.top {
  justify-content: start;
}
.list-wrapper .list-item .list-item-column .list-item-info {
  display: flex;
  gap: 5px;
  flex-direction: column;
  font-weight: 300;
  font-size: 16px;
}
.list-wrapper .list-item .list-item-column .list-item-info.row {
  flex-direction: row;
  gap: 5px;
}
.list-wrapper .list-item .list-item-column .list-item-info .list-item-label {
  font-weight: 500;
}
.list-wrapper .list-item .list-item-column .list-item-info b {
  font-weight: 500;
}
.list-wrapper .list-item .list-item-column .list-item-detail {
  display: flex !important;
  width: 100%;
  justify-content: center !important;
  align-items: center !important;
  gap: 5px;
}
.list-wrapper .list-item .list-item-column .list-item-detail span {
  font-size: 16px;
}
.list-wrapper .list-item .list-item-column .list-item-detail svg {
  transition-duration: 100ms;
}
.list-wrapper .list-item .list-item-column .list-item-more {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end !important;
  font-size: 12px !important;
}
.list-wrapper .list-item .list-item-actions {
  justify-content: start !important;
}
.list-wrapper .list-item .list-item-body {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  transition: all 0.3s ease;
  height: 0;
  opacity: 0;
  overflow: hidden;
}
.list-wrapper .list-item .list-item-body.open {
  height: auto;
  opacity: 1;
  margin-bottom: 10px;
}

.list-page {
  display: flex;
  padding: 5px 30px;
  justify-content: space-between;
  min-height: 30px;
}
.list-page .list-tabs {
  display: flex;
  gap: 30px;
}
@media (max-width: 500px) {
  .list-page .list-tabs {
    flex-direction: column;
  }
}
.list-page .filter-toggle {
  cursor: pointer;
}
.list-page #list-filter {
  position: relative;
  top: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.list-page #list-filter span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-page #list-filter span a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-page #list-filter .filter-toggle svg {
  height: 20px;
  width: 20px;
  transition: 100ms;
  padding: 5px;
  border-radius: 5px;
}
.list-page #list-filter .filter-toggle svg:hover {
  background-color: #ffc5b5;
}
.list-page #list-filter .filter-dropdown {
  z-index: 10;
  position: absolute;
  top: 100%;
  right: 5px;
  background-color: white;
  padding: 20px;
  border-radius: var(--border-radius);
  border: var(--border);
  box-shadow: var(--shadow);
}
.list-page #list-filter .filter-dropdown ul {
  list-style: none;
}
.list-page #list-filter .filter-dropdown ul li {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.list-page .list-page-item {
  font-weight: 500;
  color: grey;
  text-decoration: none;
  font-weight: 400;
}
.list-page .list-page-item.selected {
  color: var(--text-dark) !important;
  -webkit-text-decoration: 2px underline #eb6c51;
          text-decoration: 2px underline #eb6c51;
  text-underline-offset: 9px;
  font-weight: 500;
}

.pagination {
  display: flex;
  gap: 5px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
}
.pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.pagination li.active a {
  background: #ce4629;
  color: white;
}
.pagination li a {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#flash-messages {
  animation: slideFromTop 1.5s ease-in-out;
  --width: 300px;
  text-align: center;
  width: var(--width);
  position: fixed;
  z-index: 100;
  top: 30px;
  right: calc(50vw - var(--width) / 2);
  padding: 15px;
  margin-bottom: 17px;
  border-radius: var(--border-radius);
}

.success {
  background: #dcfce7;
  color: #16a34a;
}

.error {
  background: #fee2e2;
  color: #ef4444;
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.info-cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
}
@media (max-width: 1150px) {
  .info-cards-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .info-cards-grid {
    grid-template-columns: 1fr;
  }
}

.info-card.hover:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.info-card {
  text-decoration: none;
  color: black;
  transition: 150ms;
  background-color: white;
  border: 1px solid rgba(26, 26, 26, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: var(--border-radius);
  box-sizing: border-box;
}
.info-card div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-card .info-card-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: right;
}
.info-card .info-card-data .info-card-value {
  font-weight: 500;
  font-size: 20px;
}
.info-card .info-card-data .info-card-title {
  font-size: 16px;
  font-weight: 300;
}
.info-card .info-card-img {
  margin-left: 10px;
  padding: 12px;
  background-color: #fe9880;
  border-radius: 100px;
}
.info-card img {
  width: 30px;
}

.tag {
  background-color: #b4b8b9;
  padding: 5px 10px;
  border-radius: 20px;
}
.tag.tag-yellow {
  background-color: #e6d89a;
  color: #171100;
}
.tag.tag-green {
  background-color: #bce5b4;
  color: #061603;
}
.tag.tag-red {
  background-color: #ffb8b3;
  color: #270304;
}
.tag.tag-blue {
  background-color: #b5ddff;
  color: #001324;
}
.tag.tag-pink {
  background-color: #ffc4de;
  color: #270016;
}
.tag.tag-purple {
  background-color: #e8caff;
  color: #1c032a;
}

.working-hours-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(26, 26, 26, 0.1);
  border-radius: var(--border-radius);
}

.weekday-group {
  display: flex;
  gap: 15px;
}
.weekday-group .weekday-checkbox {
  margin-top: 11px;
  width: 15px;
  height: 15px;
}
.weekday-group .weekday-times {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.weekday-group .weekday-times .weekday-time {
  display: flex;
  gap: 10px;
  align-items: center;
}
.weekday-group .weekday-times .weekday-time input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #94999a;
}
.weekday-group .weekday-times .weekday-time-delete {
  text-decoration: none;
  color: black;
}/*# sourceMappingURL=template.css.map */