@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&family=Roboto:ital,wght@0,300;0,400;0,500;1,500&family=Source+Code+Pro:wght@500&display=swap");
:root {
  --left-nav-with: 250px;
  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --border: 1px solid #d4d4d4;
  --text-dark: #0a0a0a;
}

.back {
  background-color: white;
  border: var(--border);
  border-radius: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 10px;
}
.back svg {
  stroke: #9ca3af !important;
}

.back:hover {
  cursor: pointer;
  background: #eff6ff;
}
.back:hover svg {
  stroke: #3b82f6 !important;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: rgb(245, 245, 245);
}

.page-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: calc(var(--left-nav-with) + 50px);
  padding: 0 20px;
}

.menu-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  height: 50px;
  padding: 10px 0;
  max-width: 1200px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

#sidepanel-toggle {
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
}
#sidepanel-toggle svg {
  margin: 0;
}

#sidepanel-open-mobile {
  z-index: 5;
  position: fixed;
  top: 20px;
  left: 20px;
}

.sidepanel-toggle:hover {
  background-color: #dbeafe;
}

#logo {
  align-self: center;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  margin: 20px 0;
}

#user-dropdown {
  position: absolute;
  padding: 5px 0px;
  border-radius: 27px;
  box-shadow: var(--shadow);
  top: 100%; /* Adjust as needed */
  right: 0;
  background-color: #ffffff;
  min-width: 250px;
}
#user-dropdown .user-dropdown-title {
  padding: 10px 20px;
}
#user-dropdown .user-dropdown-title h2 {
  margin: 0;
  font-size: 18px;
}
#user-dropdown .user-dropdown-content {
  padding: 10px 20px;
  border-top: 1px solid #d4d4d4;
}
#user-dropdown .user-dropdown-content ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#user-dropdown .user-dropdown-content ul li {
  display: flex;
  align-items: center;
  padding: 5px 5px;
  border-radius: 10px;
  gap: 5px;
  width: 100%;
  box-sizing: border-box;
}
#user-dropdown .user-dropdown-content ul li a {
  color: var(--text-dark);
  text-decoration: none;
}
#user-dropdown .user-dropdown-content ul li:hover {
  background-color: #dbeafe;
}
#user-dropdown .user-dropdown-footer {
  padding: 10px 20px;
}
#user-dropdown .user-dropdown-footer div {
  padding: 5px 5px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}
#user-dropdown .user-dropdown-footer a {
  color: var(--text-dark);
  text-decoration: none;
}
#user-dropdown .user-dropdown-footer div:hover {
  background-color: #bfdbfe;
}

#user-avatar {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d4d4d4;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#user-avatar span {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 20px;
  color: #3b82f6;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
}

.left-sidebar-container {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 200ms;
  background-color: #ffffff;
  border-right: 1px solid grey;
  width: var(--left-nav-with);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 0px 10px;
}
.left-sidebar-container .menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}
.left-sidebar-container .nav-el {
  list-style-type: none;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 8px;
}
.left-sidebar-container .nav-el svg {
  width: 16px;
}
.left-sidebar-container .nav-el svg path {
  stroke: var(--text-dark);
}
.left-sidebar-container .nav-el a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--text-dark);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.left-sidebar-container .nav-el:hover {
  background-color: #eff6ff;
}
.left-sidebar-container .selected {
  background-color: #eff6ff;
}
.left-sidebar-container .selected a {
  color: #3b82f6;
}
.left-sidebar-container .selected svg path {
  stroke: #3b82f6;
}

@media (max-width: 1000px) {
  .left-sidebar-container {
    transform: translateX(-100%);
  }
  .page-wrapper {
    margin-left: 0;
  }
}
main {
  width: 100%;
  max-width: 1200px;
  padding-bottom: 50px !important;
}

h1 {
  font-size: 28px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.page-title {
  width: 100%;
  margin-bottom: 50px;
}

.table-wrapper {
  width: 100%;
}
.table-wrapper table {
  border: var(--border);
  background-color: #ffffff;
  width: 100%;
  padding: 30px;
  box-shadow: var(--shadow);
  border-radius: 27px;
}
.table-wrapper table th {
  padding: 10px 10px;
}
.table-wrapper table thead th {
  font-weight: bold;
}
.table-wrapper table tbody tr {
  border-bottom: 1px solid #535353;
}
.table-wrapper table tbody th {
  font-weight: 300;
}
.table-wrapper .btn {
  padding: 5px 10px;
  border-radius: 12px;
  background-color: #9ca3af;
  text-decoration: none;
  color: white;
  font-weight: 400;
}
.table-wrapper .btn:hover {
  filter: brightness(90%);
}
.table-wrapper .btn-primary {
  background-color: #3b82f6;
  color: white;
}
.table-wrapper .btn-danger {
  background-color: #ef4444;
  color: white;
}
.table-wrapper .btn-gold {
  background: #fde68a;
  color: #713f12;
}
.table-wrapper .btn-green {
  background: #d9f99d;
  color: #365314;
}

.form-wrapper {
  width: 100%;
}

.form-info {
  font-size: 13px;
  font-weight: 300;
  color: grey;
}

.form-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-body .form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-body .form-group label {
  font-weight: 700;
  font-size: 14px;
}
.form-body .form-group input {
  padding: 10px 14px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
}
.form-body .form-group input:focus {
  border: 1px solid #3b82f6;
  outline: #3b82f6;
}
.form-body .form-group textarea {
  padding: 10px 14px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  min-height: 100px;
}
.form-body .form-group textarea:focus {
  border: 1px solid #3b82f6;
  outline: #3b82f6;
}
.form-body .form-group select {
  position: relative;
  padding: 10px 14px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  width: 100%;
}
.form-body .form-group select:focus {
  border: 1px solid #3b82f6;
  outline: #3b82f6;
}
.form-body .form-group .form-checkbox {
  display: flex;
  gap: 10px;
  align-items: center;
}
.form-body .form-group .form-checkbox label {
  font-weight: 400;
}
.form-body .form-group .form-checkbox input {
  width: 18px;
  height: 18px;
  margin: 0;
}
.form-body .form-actions {
  display: flex;
  gap: 10px;
}
.form-body .form-actions .submit input {
  cursor: pointer;
  background-color: #3b82f6;
  border-radius: 27px;
  padding: 10px 15px;
  border: 1px solid #3b82f6;
  color: #ffffff;
  font-size: 16px;
}
.form-body .form-actions .submit:hover {
  filter: brightness(90%);
}
.form-body .form-actions .reset a {
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 27px;
  border: 1px solid black;
  background: #e5e7eb;
  text-decoration: none;
  color: var(--text-dark);
  cursor: pointer;
}
.form-body .form-actions .reset:hover {
  filter: brightness(90%);
}

#calendar {
  width: 100%;
  margin-bottom: 20px;
  height: 60vh;
}

.fc-toolbar-chunk button {
  background-color: #3b82f6 !important;
  border: none !important;
  border-radius: 17px !important;
  padding: 8px 15px !important;
  transition: 100ms !important;
}
.fc-toolbar-chunk .fc-button-active {
  background-color: #9ca3af !important;
  border: none !important;
  outline: none !important;
}
.fc-toolbar-chunk .fc-prevYear-button {
  border-radius: 17px 0 0 17px !important;
}
.fc-toolbar-chunk .fc-prev-button, .fc-toolbar-chunk .fc-next-button {
  border-radius: 0px !important;
}
.fc-toolbar-chunk .fc-nextYear-button {
  border-radius: 0 17px 17px 0 !important;
}

.fc-view-harness {
  background: white;
}

#flash-messages {
  animation: slideFromTop 1.5s ease-in-out;
  --width: 300px;
  text-align: center;
  width: var(--width);
  position: fixed;
  z-index: 100;
  top: 30px;
  right: calc(50vw - var(--width) / 2);
  padding: 15px;
  margin-bottom: 17px;
  border-radius: 27px;
}

.success {
  background: #dcfce7;
  color: #16a34a;
}

.error {
  background: #fee2e2;
  color: #ef4444;
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=template.css.map */