{* This is the welcome page, you can delete it *}

{block content}

<h1>Front</h1>
<h2><a href="{$baseUrl}/admin">admin</a></h2>
{foreach $users as $userRow}
    <div>
        <a n:href="Reservation:create $userRow->uuid">rezervace {$userRow->username}</a>
    </div>
{/foreach}


