{* This is the welcome page, you can delete it *}

{block content}

<h1>Front</h1>
{var $admin1 = "9c9d4105-1211-4aa3-8169-52c7938dbcb0"}
{var $admin2 = "583106b9-269f-4a15-8c96-3c739e187228"}
<h2><a n:href="Reservation:create $admin1">admin1</a></h2>

