<html>
<head>
    <meta charset="utf-8">
    <title>Zrušení rezervace</title>
    <style>

    </style>
</head>
<body>
<p>Dobrý den,</p>

<p>Vaše rezervace byla zrušena z důvodu nezaplacení.</p>
</body>
</html>