<html>
<head>
    <meta charset="utf-8">
    <title>Zrušení rezervace</title>
</head>
<body style="background-color: #ffffff;
            padding: 20px;
            margin: 0;">
<div style="display: flex; flex-direction: column; align-items: center">
    <div style="max-width: 600px; padding: 5px;">
        <h1 style="font-size: 24px;
            font-weight: bolder;
            color: #d0482b;
            margin: 0 0 20px;">Vaše rezervace byla zrušena!</h1>
        <p style="font-size: 16px;
            line-height: 30px;">Dobrý den,<br>

            s lítostí Vám oznamujeme, že Vaše rezervace
            <b>č.{$reservation->id} u {$userSettings->company} na {$reservation->start|date:"d.m.Y"} byla zrušena.</b>
        </p>
        <h3>Detaily zrušené rezervace:</h3>
        <p style="font-size: 16px;
            line-height: 30px;">
            <b>Služba:</b> {$reservation->ref("services", "service_id")->name} <br>
            <b>Datum:</b> {$reservation->start|date:"d.m.Y"}<br>
            <b>Čas:</b> {$reservation->start|date:"H:i"}<br>
            <b>Jméno:</b> {$reservation->firstname}<br>
            <b>Příjmení:</b> {$reservation->lastname}<br>
            {* {var $price = $reservation->related("payments")?->fetch()->price}
            <b>Cena:</b> {$price} Kč<br> *}
        </p>
        <br>
        <h3>Důvod Zrušení:</h3>
        <p style="font-size: 16px;
            line-height: 30px;">
            {$reason}
        </p>
        <br>
        <p style="font-size: 16px;
            line-height: 30px;">S pozdravem, <br>
            <span n:if="$userSettings->company">{$userSettings->company}</span><br>
            <span n:if="$userSettings->email">{$userSettings->email}</span> <br>
            <span n:if="$userSettings->phone">{$userSettings->phone}</span>

        </p>
    </div>
</div>

</body>
</html>