{block content}
    <div class="page-body login-page login-form-fall loaded login-form-fall-init">
        <div class="login-container">
            <div class="login-header login-caret">

            </div>
        </div>
    </div>
    <div><span>Nemáte ještě účet? </span><span><a n:href="Sign:create">Založit účet</a></span></div>
    {control signInForm}

{/block}