{block content}
<div class="page-wrapper"></div>
<h1 class="text-highlight">Payment</h1>

{foreach $payments as $payment}
    <div n:if="$payment->status == 0">
        <p>{$payment->price}</p>
        {$qrCode}
    </div>

{/foreach}

