@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  min-width: 0;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

:root {
  font-size: 16px;
}

.hidden {
  display: none !important;
}

.row {
  width: 90%;
}

.text-center {
  text-align: center;
}

.text-highlight {
  color: var(--highlight-red);
}

p {
  color: rgb(29, 27, 39);
}

@media (max-width: 900px) {
  .h2-center {
    text-align: center;
    font-weight: 500;
  }
}

.card {
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid rgba(26, 26, 26, 0.1);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
@media (max-width: 500px) {
  .card {
    background: inherit;
    box-shadow: none;
  }
}

bold {
  font-weight: bold;
}

h1 {
  color: #a62b0e;
  font-size: 36px;
  margin-bottom: 50px;
  font-weight: bolder;
  letter-spacing: -1px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}

.body-wrapper {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.back {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 1px solid #94999a;
  border-radius: 25px;
  transition-duration: 150ms;
}
@media (max-width: 900px) {
  .back {
    position: fixed;
    top: 20px;
    left: 20px;
  }
}
.back img {
  width: 28px;
  color: #781d08;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.back:hover {
  background-color: #fff4f0;
}

.body-container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 50px;
}

.items-table {
  border: 1px black solid;
  border-collapse: collapse;
}
.items-table th,
.items-table td {
  border: 1px black solid;
  border-collapse: collapse;
  padding: 5px;
}
.items-table .table-header {
  background: #f5f5f5;
}

#reservation-steps {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 10px 0;
}
#reservation-steps .step {
  height: 50px;
  width: 50px;
  border: #27c03e 3px solid;
  border-radius: 12px;
  display: inline-block;
}
#reservation-steps .step.active {
  opacity: 1 !important;
  border: #781d08 3px solid;
  background-color: #781d08;
  cursor: pointer;
}
#reservation-steps .step.finish {
  opacity: 0.5;
  background-color: #27c03e;
  cursor: pointer;
}

.reservationForm-wrapper {
  width: 100%;
  margin-top: 60px;
}
@media (max-width: 500px) {
  .reservationForm-wrapper {
    margin-top: 0;
  }
}
.reservationForm-wrapper h1 {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#confirmation {
  margin-top: 10rem;
  max-width: 800px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#confirmation div {
  max-width: 400px;
  text-align: center;
}
#confirmation h1 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
}
#confirmation p {
  font-size: 16px;
}

.btn-secondary {
  background: none !important;
  border: 2px solid #bdf5c5 !important;
  color: #a62b0e !important;
}

.btn-secondary:hover {
  background: #781d08;
  color: #ffffff !important;
}

#calendar-selected-date {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0;
}

.button {
  padding: 5px 10px;
  border: none !important;
  border-radius: 5px;
  transition-duration: 300ms;
  cursor: pointer;
  margin: 0;
  text-decoration: none;
  color: black;
  transition: 100ms;
}

.button:hover {
  filter: brightness(90%);
}

.button-time {
  border: 1px solid #ce4629 !important;
  color: #ce4629 !important;
  padding: 13px 10px !important;
  font-weight: 500;
  font-size: 18px;
}

.button-time:hover {
  background: #ce4629 !important;
  color: #ffffff !important;
}

.button-backup {
  border: 1px solid #006b82 !important;
  color: #006b82 !important;
  font-weight: 500;
  font-size: 18px;
  padding: 13px 10px !important;
}

.button-backup:hover {
  background: #006b82 !important;
  color: #ffffff !important;
}

.button.xl {
  font-size: 1rem;
  padding: 10px 10px;
}

.nav-buttons {
  padding: 15px 0;
}
.nav-buttons button {
  width: 100%;
}

.select-wrapper {
  max-width: 1500px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
  justify-content: center;
  justify-items: center;
  gap: 25px;
}
@media (max-width: 500px) {
  .select-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.services-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}

.form-group-multiple {
  flex-direction: row !important;
}
@media (max-width: 500px) {
  .form-group-multiple {
    flex-direction: column !important;
  }
}
.form-group-multiple div {
  width: 100%;
}

.info-form {
  border: 1px solid rgba(26, 26, 26, 0.1);
  background: #ffffff;
  display: flex;
  padding: 30px 0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
@media (max-width: 500px) {
  .info-form {
    width: 90%;
    box-sizing: border-box;
    padding: 20px;
  }
}
.info-form .form {
  display: flex;
  flex-direction: column;
  width: 370px;
  gap: 10px;
  padding: 0 20px;
}
.info-form .form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.backup {
  background-color: #27c03e;
  border: none;
}

.backup:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1) !important;
}

.primary {
  background-color: #eb6c51 !important;
  color: rgb(248, 248, 255);
}

.secondary {
  background-color: #27c03e;
  color: rgb(248, 248, 255);
  border: none;
}

.secondary:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1) !important;
}

.service-button:hover {
  color: #ffffff;
  cursor: pointer;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.w-full {
  width: 100%;
}

#snippet--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.time-wrapper {
  height: 370px;
  overflow-y: auto;
  padding: 5px;
}
@media (max-width: 500px) {
  .time-wrapper {
    height: -moz-max-content !important;
    height: max-content !important;
    padding: 0 20px;
    max-height: unset;
  }
}
.time-wrapper div div {
  display: flex;
}
.time-wrapper .time {
  gap: 10px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10px;
  flex-direction: column;
}
.time-wrapper .time p {
  text-align: center;
  width: 100%;
}
@media (max-width: 500px) {
  .time-wrapper .time p {
    width: 100%;
  }
}
.time-wrapper .time p:hover {
  color: #ffffff;
  background-color: #27c03e;
}
.time-wrapper .backup-time {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.time-wrapper .backup-time div {
  display: flex;
  gap: 10px;
  width: 100%;
}

.calendar-box {
  border: 1px solid rgba(26, 26, 26, 0.1);
  display: flex;
  background: #ffffff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  border-radius: 12px;
}
@media (max-width: 900px) {
  .calendar-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
    min-height: 425px;
  }
}

.calender-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px;
}

.calendar-times {
  margin-top: 115px;
  height: 420px;
  width: 0px;
  overflow-x: hidden;
  transition: all 0.3s;
}
.calendar-times.open {
  width: 150px;
  border-left: 1px solid #d5d8d9;
  padding: 0 20px;
}
@media (max-width: 900px) {
  .calendar-times.open {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .calendar-times {
    margin-top: 10px;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: none;
  }
}

.calendar-head tr {
  border-bottom: 2px solid black;
}

#calendar-nav {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  display: flex;
  gap: 10px;
  align-items: center;
}
#calendar-nav img {
  width: 45px;
  border: 1px solid #94999a;
  border-radius: 50%;
}
#calendar-nav img:hover {
  background-color: #fff4f0;
}
#calendar-nav h2 {
  margin: 0;
  font-weight: lighter;
}
#calendar-nav thead {
  color: grey;
}
#calendar-nav #calendar-month {
  width: 100%;
  min-width: 170px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #595f60;
}

#calendar {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, minmax(min-content, 1fr));
  min-width: 550px;
  min-height: 426px;
}
@media (max-width: 900px) {
  #calendar {
    min-width: unset;
    min-height: unset;
  }
}
#calendar #calendar-cover {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 50;
}
#calendar .day {
  padding: 25px; /* Default padding based on viewport width */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  margin: 5px;
  text-align: center;
  font-size: 16px;
  border: 1px solid rgba(26, 26, 26, 0.05);
}
@media (max-width: 768px) {
  #calendar .day {
    padding: 3vw; /* Reduce padding for smaller screens */
  }
}
@media (max-width: 480px) {
  #calendar .day {
    margin: 3px;
  }
}
#calendar .day-legend {
  padding: 0;
  text-align: center;
}
#calendar .different-month {
  background-color: #e2e5e6 !important;
  color: #94999a !important;
}
#calendar .weekend {
  color: #ffffff;
}
#calendar .unavailable {
  background-color: #ffffff;
  color: #27292a;
}
#calendar .available {
  background-color: #fe9880;
  color: black;
  transition-duration: 200ms;
}
#calendar .available.selected {
  background-color: #ce4629;
  color: #ffffff;
}
#calendar .available:hover {
  cursor: pointer;
  filter: brightness(0.9);
}
#calendar div {
  padding: 25px;
}

#recap {
  background-color: #ffffff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
}
@media (max-width: 500px) {
  #recap {
    width: 90%;
    box-shadow: none;
    background: none;
    padding: 0;
  }
}
#recap #service {
  font-size: 20px;
  margin: 10px 0 5px;
  font-weight: 500;
}
#recap .event-info {
  font-size: 20px;
}
#recap #price {
  font-size: 24px;
  font-weight: 500;
  color: #27c03e;
}
#recap #currency {
  font-size: 24px;
}
#recap img {
  width: 25px;
}
#recap #address::after {
  content: ",";
}
#recap .event-info div {
  padding: 0 10px;
}
#recap div {
  display: flex;
  align-items: center;
}
#recap div h2 {
  font-size: 20px;
  margin: 0;
}
#recap div p {
  margin: 0;
  font-size: 1.2rem;
}

.discount-code-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
}
.discount-code-wrapper div {
  display: flex;
  gap: 10px;
}
@media (max-width: 500px) {
  .discount-code-wrapper div {
    width: 100%;
    gap: 10px;
  }
}
.discount-code-wrapper div .button {
  width: 100px;
  text-align: center;
}

.btn-secondary {
  border: 2px solid #ce4629 !important;
}
.btn-secondary p {
  color: #781d08 !important;
}

.btn-secondary:hover {
  color: #781d08 !important;
}

/* Style the input fields */
input {
  font-family: "PT Sans Narrow", sans-serif;
  padding: 5px 15px;
  width: 100%;
  font-size: 1rem;
  font-weight: lighter;
  color: rgb(29, 27, 39);
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #94999a !important;
  background-color: inherit;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

input:focus {
  outline: #781d08;
  border: 1px solid #781d08 !important;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  border: 1px solid red !important;
}

input.valid {
  border: 1px solid #3a9027 !important;
  background-color: #e9ffe4;
}

.form-group.invalid .form-error {
  display: block !important;
}

.form-error {
  color: red;
  font-size: 14px;
  display: none;
}

/* Hide all steps by default: */
.tab {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 500px) {
  .tab {
    min-height: 90vh;
    background-color: inherit;
  }
}

/* Make circles that indicate the steps of the form: */
/* Mark the active step: */
.step.active {
  background-color: #781d08 !important;
}

/* Mark the steps that are finished and valid: */
/* Service cards */
.service-card:last-child {
  border-bottom: none;
}

.service-card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-width: 370px !important;
  height: 100%;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 12px;
  max-width: 400px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
@media (max-width: 500px) {
  .service-card {
    background: none;
    border: none;
    box-shadow: none !important;
    min-width: unset !important;
    border-bottom: 2px solid #d5d8d9;
    border-radius: 0;
  }
}
.service-card .card-info {
  gap: 5px;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.service-card .card-title {
  margin-bottom: 10px;
}
.service-card .card-title h2 {
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 0px;
  margin: 0;
}
.service-card .card-text p {
  font-size: 16px;
  margin: 0;
  line-height: 29px;
  color: #050100;
}
.service-card .card-price {
  padding: 10px 0;
  font-size: 20px;
  font-weight: 700;
  color: #19962c;
}
.service-card .card-button {
  padding: 10px 14px;
  border-radius: 6px;
  background-color: #781d08;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 300ms;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
.service-card .card-button span {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(248, 248, 255);
}
.service-card .card-button:hover {
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  filter: brightness(1.05);
}

.payment-wrapper {
  background-color: white;
  border: 1px solid rgba(26, 26, 26, 0.1);
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
@media (max-width: 500px) {
  .payment-wrapper {
    width: 90%;
  }
}
.payment-wrapper .payment-reservation {
  padding: 20px 20px 10px 20px;
  border-bottom: 1px solid #d5d8d9;
}
.payment-wrapper .payment-info {
  display: flex;
  gap: 20px;
}
.payment-wrapper .payment-info .reservation-info-group {
  display: flex;
  flex-direction: column;
}
.payment-wrapper .payment-info .reservation-info-group .group-title {
  font-size: 14px;
}
.payment-wrapper .payment-info .reservation-info-group .group-value {
  font-size: 16px;
  font-weight: 500;
}
.payment-wrapper .payment {
  padding: 10px 20px 20px;
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1fr;
}
.payment-wrapper .payment .payment-qr-code {
  display: flex;
  justify-content: end;
}
.payment-wrapper .payment .payment-qr-code img {
  height: 112px;
  width: 112px;
}
.payment-wrapper h2 {
  margin: 0 0 6px;
  font-weight: 700;
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade-out {
  animation: fadeOut 1.5s ease-in-out;
}

#flash-messages {
  animation: slideFromTop 1.5s ease-in-out;
  --width: 300px;
  text-align: center;
  width: var(--width);
  position: fixed;
  z-index: 1000;
  top: 30px;
  right: calc(50vw - var(--width) / 2);
  border-radius: 4px;
  padding: 10px 35px 10px 14px;
  margin-bottom: 10px;
  text-shadow: none;
  background-color: #f2dede; /* Default background color */
  border: 1px solid #ebccd1; /* Default border color */
  color: #a94442; /* Default text color */
}

.alert-danger {
  background-color: rgba(255, 0, 0, 0.87);
}

footer {
  box-sizing: border-box;
  width: 100%;
  background-color: #94999a;
  margin-top: 50px;
  padding: 20px;
  display: flex;
  justify-content: center;
  font-weight: 400;
}

#logo-footer img {
  height: 50px;
}

.footer-wrapper {
  display: flex;
  gap: 30px;
  box-sizing: border-box;
  align-items: center;
}
@media (max-width: 700px) {
  .footer-wrapper {
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }
}
.footer-wrapper h4 {
  margin: 0;
}
.footer-wrapper p {
  margin: 0;
  color: #ffffff;
}

.footer-row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.recap-service-card {
  border: 1px solid rgba(26, 26, 26, 0.1);
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  transition-duration: 200ms;
  gap: 10px;
}
@media (max-width: 500px) {
  .recap-service-card {
    width: 80%;
  }
}
.recap-service-card div {
  display: flex;
  flex-direction: column;
}
.recap-service-card .recap-service-title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}
.recap-service-card .service-price {
  display: flex;
  flex-direction: row;
  gap: 0;
  font-size: 18px;
  font-weight: 500;
  color: #002f3b;
  padding: 5px 10px;
  background: #ade2f0;
  border-radius: 5px;
}
.recap-service-card .service-text {
  font-size: 16px;
  color: #595f60;
}

.service-card-button:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#recap-customer-info {
  border: 1px solid rgba(26, 26, 26, 0.1);
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  gap: 10px;
  background: #ffffff;
}
@media (max-width: 500px) {
  #recap-customer-info {
    width: 80%;
  }
}
#recap-customer-info .recap-customer-info-title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
}
#recap-customer-info .recap-custome-info-data {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #3f4344;
  font-size: 16px;
}

.recap-button {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .recap-button {
    width: 100%;
  }
}
.recap-button button {
  width: 340px;
}
@media (max-width: 500px) {
  .recap-button button {
    width: 92%;
  }
}

.service-availability {
  color: #ce4629;
  font-size: 16px;
  font-weight: 500;
}

.loading {
  --width: 50px;
  transition: 200ms;
  position: absolute;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.05);
  box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.5);
  /* Apply a blur filter */
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading div {
  width: var(--width);
  height: var(--width);
  border: 6px solid #d5d8d9;
  border-top: 6px solid #74c5da;
  animation: rotate 1s linear infinite;
  border-radius: 50%;
}

.calendar-date {
  padding: 0 20px;
}
@media (max-width: 900px) {
  .calendar-date {
    padding-left: 0;
    min-height: 400px;
  }
  .calendar-date h2 {
    text-align: center;
  }
}

.reservation-info {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 0 20px;
  gap: 10px;
  border-right: 1px solid #d5d8d9;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 900px) {
  .reservation-info {
    display: none;
  }
}
.reservation-info div {
  color: #595f60;
  font-size: 18px;
}

.reservation-info-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.reservation-info-group .info-group-title {
  font-size: 16px;
  font-weight: 400;
}
.reservation-info-group .info-group-value {
  font-size: 18px;
  font-weight: 500;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=styles.css.map */