@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&family=Source+Code+Pro:wght@500&display=swap");
:root {
  --text-dark: rgb(29, 27, 39);
  --text-light: rgb(248, 248, 255);
  --background: rgb(248, 248, 255);
  --primary: rgb(55, 86, 247);
  --secondary: rgb(29, 27, 39);
  --accent: rgb(107, 186, 163);
  --shadow: var(--primary) 0px 10px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  --shadow-secondary: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
  font-size: 16px;
}

.body-container {
  width: 100%;
}

.text-highlight {
  color: var(--highlight-red);
}

p {
  color: var(--text);
}

.card {
  padding: 20px;
  border-radius: 50px;
}

bold {
  font-weight: bold;
}

h1 {
  color: var(--primary);
  font-size: 3.5rem;
  margin-bottom: 50px;
  font-weight: bolder;
  letter-spacing: -2px;
}

body {
  font-family: "Jost", sans-serif;
  font-family: "Source Code Pro", monospace;
  background-color: var(--background);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-container {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.items-table {
  border: 1px black solid;
  border-collapse: collapse;
}
.items-table th,
.items-table td {
  border: 1px black solid;
  border-collapse: collapse;
  padding: 5px;
}
.items-table .table-header {
  background-color: inherit;
}

#reservation-steps {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 10px 0;
}
#reservation-steps .step {
  height: 50px;
  width: 50px;
  border: var(--secondary) 3px solid;
  border-radius: 50%;
  display: inline-block;
}
#reservation-steps .step.active {
  opacity: 1 !important;
  border: var(--primary) 3px solid;
  background-color: var(--primary);
  cursor: pointer;
}
#reservation-steps .step.finish {
  opacity: 0.5;
  background-color: var(--secondary);
  cursor: pointer;
}

.reservationForm-wrapper {
  display: flex;
  flex-direction: column;
}
.reservationForm-wrapper h1 {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#confirmation {
  max-width: 800px;
  height: fit-content;
}
#confirmation h1 {
  text-align: center;
  font-size: 70px;
}
#confirmation p {
  font-size: 25px;
}

.button {
  padding: 5px 10px;
  border: none !important;
  border-radius: 5px;
  transition-duration: 300ms;
  cursor: pointer;
  margin: 0;
}

.button:hover {
  transform: translateY(-3px);
  color: white;
}

.button.xl {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
}

.nav-buttons {
  padding: 15px 0;
}
.nav-buttons button {
  width: 100%;
}

.select-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.info-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.backup {
  background-color: var(--secondary);
  border: none;
}

.backup:hover {
  box-shadow: var(--shadow-secondary) !important;
}

.primary {
  background-color: var(--primary) !important;
  color: var(--text-light);
}

.secondary {
  background-color: var(--secondary);
  color: var(--text-light);
  border: none;
}

.secondary:hover {
  box-shadow: var(--shadow-secondary) !important;
}

.service-button:hover {
  color: white;
  cursor: pointer;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.w-full {
  width: 100%;
}

.calendar-head tr {
  border-bottom: 2px solid black;
}

#calendar-nav {
  display: flex;
}
#calendar-nav img {
  height: 70px;
}
#calendar-nav #calendar-month {
  width: 100%;
  min-width: 170px;
  text-align: center;
}

#calendar th.weekend {
  color: red;
}
#calendar th.unavailable {
  background-color: white;
}
#calendar th.available {
  background-color: var(--primary);
  color: white;
  transition-duration: 300ms;
}
#calendar th.available:hover {
  cursor: pointer;
  background-color: var(--secondary);
}
#calendar th {
  padding: 25px;
  border-radius: 20px;
}

.time-wrapper {
  padding: 0 180px;
}
.time-wrapper div div {
  display: flex;
}
.time-wrapper .time {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.time-wrapper .time p {
  height: fit-content;
  width: 100%;
}
.time-wrapper .backup-time {
  display: flex;
  padding: 10px 0;
}
.time-wrapper .backup-time div {
  display: flex;
  gap: 10px;
}

.calender-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#recap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#recap div h2 {
  font-size: 20px;
  margin: 0;
}
#recap div p {
  margin: 0;
}

.discount-code-wrapper div {
  display: flex;
  gap: 10px;
}
.discount-code-wrapper div .button {
  width: fit-content;
}

footer {
  height: 100px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  color: var(--text);
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid var(--secondary) !important;
  background-color: inherit;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

input.valid {
  background-color: rgba(96, 248, 117, 0.6);
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
/* Mark the active step: */
.step.active {
  background-color: var(--primary) !important;
}

/* Mark the steps that are finished and valid: */
/* Service cards */
.service-card {
  width: 100%;
  box-sizing: border-box;
  padding: 40px;
  border-radius: 15px;
  max-width: 400px;
  box-shadow: var(--shadow-secondary);
}
.service-card .card-title {
  margin-bottom: 25px;
}
.service-card .card-title h2 {
  font-size: 2.375rem;
  font-weight: bolder;
  letter-spacing: -2px;
  margin: 0;
}
.service-card .card-text p {
  font-size: 1.263rem;
  margin: 0;
  line-height: 1.875rem;
}
.service-card .card-price {
  padding: 10px 0;
  font-size: 1.789rem;
  color: var(--accent);
}
.service-card .card-button {
  border-radius: 10px;
  height: 60px;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 300ms;
}
.service-card .card-button span {
  font-size: 1.671rem;
  font-weight: bold;
  color: var(--text-light);
}
.service-card .card-button:hover {
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  filter: brightness(1.05);
}

.service-primary {
  background-color: var(--background) !important;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.service-secondary {
  background-color: var(--secondary);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.service-secondary p,
.service-secondary h2 {
  color: white !important;
}

@media (max-width: 500px) {
  .service-card {
    width: 100%;
  }
  .time {
    flex-direction: column;
  }
  .time-wrapper {
    padding: 0;
  }
  .select-wrapper {
    flex-direction: column;
    gap: 30px;
  }
  .backup-time {
    flex-direction: column;
  }
  .backup-time div {
    flex-direction: column;
    width: 100%;
  }
  .button {
    width: 100%;
    box-sizing: border-box;
  }
  .tab {
    width: 90vw;
  }
  #calendar-nav {
    justify-content: center;
  }
  .calender-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #calendar th {
    padding: 3vw;
    border-radius: 5px;
  }
}
@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade-out {
  animation: fadeOut 1.5s ease-in-out;
}

#flash-messages {
  animation: slideFromTop 1.5s ease-in-out;
  --width: 300px;
  text-align: center;
  width: var(--width);
  position: fixed;
  z-index: 1000;
  top: 30px;
  right: calc(50vw - var(--width) / 2);
  border-radius: 4px;
  padding: 10px 35px 10px 14px;
  margin-bottom: 10px;
  text-shadow: none;
  background-color: #f2dede; /* Default background color */
  border: 1px solid #ebccd1; /* Default border color */
  color: #a94442; /* Default text color */
}

.alert-danger {
  background-color: rgba(255, 0, 0, 0.87);
}

/*# sourceMappingURL=styles.css.map */
