@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&family=Source+Code+Pro:wght@500&display=swap");

:root {
  --text-dark: rgb(29, 27, 39);
  --text-light: rgb(248, 248, 255);
  --background: rgb(248, 248, 255);
  --primary: rgb(55, 86, 247);
  --secondary: rgb(29, 27, 39);
  --accent: rgb(107, 186, 163);


  --shadow: var(--primary) 0px 10px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  --shadow-secondary: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

  --radius: 27px;
  font-size: 16px;
}

.hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}

.body-container {
  width: 100%;
}

.text-highlight {
  color: var(--highlight-red);
}

p {
  color: var(--text);
}

.card {
  padding: 20px;
  border-radius: var(--radius);
}

bold {
  font-weight: bold;
}


h1 {
  color: var(--primary);
  font-size: 3.5rem;
  margin-bottom: 50px;

  font-weight: bolder;
  letter-spacing: -2px;
}

body {
  font-family: "Jost", sans-serif;
  background-color: var(--background);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(94, 94, 94, 0.8);
  border-radius: 25px;

  img {
    width: 28px;
    color: var(--primary);
  }
}

.back:hover {
  background-color: rgba(139, 157, 248, 0.72);
}

.body-container {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
}

.items-table {
  border: 1px black solid;
  border-collapse: collapse;

  th,
  td {
    border: 1px black solid;
    border-collapse: collapse;
    padding: 5px;
  }

  .table-header {
    background-color: inherit;
  }
}

#reservation-steps {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 10px 0;

  .step {
    height: 50px;
    width: 50px;
    border: var(--secondary) 3px solid;
    border-radius: var(--radius);
    display: inline-block;
  }

  .step.active {
    opacity: 1 !important;
    border: var(--primary) 3px solid;
    background-color: var(--primary);
    cursor: pointer;
  }

  .step.finish {
    opacity: 0.5;
    background-color: var(--secondary);
    cursor: pointer;
  }
}

.reservationForm-wrapper {

  margin-top: 60px;

  h1 {
    text-align: center;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#confirmation {
  max-width: 800px;
  height: fit-content;

  h1 {
    text-align: center;
    font-size: 70px;
  }

  p {
    font-size: 25px;
  }
}

.button {
  padding: 5px 10px;
  border: none !important;
  border-radius: 5px;
  transition-duration: 300ms;
  cursor: pointer;
  margin: 0;
}

.button:hover {
}

.button.xl {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
}

.nav-buttons {
  padding: 15px 0;

  button {
    width: 100%;
  }
}

.select-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.services-grid {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr;

}

.info-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px;
  box-shadow: var(--shadow-secondary);
  border-radius: var(--radius);
}

.backup {
  background-color: var(--secondary);
  border: none;
}

.backup:hover {
  box-shadow: var(--shadow-secondary) !important;
}

.primary {
  background-color: var(--primary) !important;
  color: var(--text-light);
}

.secondary {
  background-color: var(--secondary);
  color: var(--text-light);
  border: none;
}

.secondary:hover {
  box-shadow: var(--shadow-secondary) !important;
}

.service-button:hover {
  color: white;
  cursor: pointer;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.w-full {
  width: 100%;
}


.time-wrapper {
  max-height: 345px;
  overflow-y: scroll;

  div {
    div {
      display: flex;
    }
  }

  .time {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    p {
      text-align: center;
    }
  }

  .backup-time {
    display: flex;
    padding: 10px 0;

    div {
      display: flex;
      gap: 10px;
    }
  }
}

//calendar start

.greyout {
  filter: grayscale(100%);
}

.calendar-box {
  display: flex;
  box-shadow: var(--shadow-secondary);
  padding: 50px;
  border-radius: var(--radius);
  gap: 40px;
}

.calender-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calendar-date {


}

.calendar-times {
  display: none;
  padding-top: 173px;
  height: 100px;
  width: 150px;
}


.calendar-head {
  tr {
    border-bottom: 2px solid black;
  }
}

#calendar-nav {
  display: flex;

  img {
    height: 70px;
  }

  #calendar-month {
    width: 100%;
    min-width: 170px;
    text-align: center;
  }
}

#calendar {
  position: relative;

  th.weekend {
    color: red;
  }

  th.unavailable {
    background-color: white;
  }

  th.available {
    background-color: var(--primary);
    color: white;
    transition-duration: 300ms;
  }

  th.available:hover {
    cursor: pointer;
    background-color: var(--secondary);
  }

  th {
    padding: 25px;
    border-radius: 20px;
  }
}

//calendar end

#recap {
  box-shadow: var(--shadow-secondary);
  padding: 50px;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 10px;

  img {
    width: 30px;
  }

  #address::after {
    content: ",";
  }

  div {
    display: flex;
    gap: 10px;
    align-items: center;

    h2 {
      font-size: 20px;
      margin: 0;
    }

    p {
      margin: 0;
      font-size: 1.2rem;
    }
  }
}

.discount-code-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;

  div {
    display: flex;
    gap: 10px;

    .button {
      width: fit-content;
    }
  }
}

.btn-secondary {
  border: 2px solid var(--primary) !important;

  p {
    color: var(--primary) !important;
  }
}

footer {
  height: 100px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  color: var(--text);
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid var(--secondary) !important;
  background-color: inherit;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

input.valid {
  background-color: #60f87599;
}

/* Hide all steps by default: */
.tab {
  display: none;
  flex-direction: column;
}

/* Make circles that indicate the steps of the form: */

/* Mark the active step: */
.step.active {
  background-color: var(--primary) !important;
}

/* Mark the steps that are finished and valid: */

/* Service cards */

.service-card {
  width: 100%;
  box-sizing: border-box;
  padding: 40px;
  border-radius: var(--radius);
  max-width: 400px;
  box-shadow: var(--shadow-secondary);

  .card-title {
    margin-bottom: 25px;

    h2 {
      font-size: 2.375rem;
      font-weight: bolder;
      letter-spacing: -2px;
      margin: 0;
    }
  }

  .card-text {
    p {
      font-size: 1.263rem;
      margin: 0;
      line-height: 1.875rem;
    }
  }

  .card-price {
    padding: 10px 0;
    font-size: 1.789rem;
    color: var(--accent);
  }

  .card-button {
    border-radius: 10px;
    height: 60px;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 300ms;

    span {
      font-size: 1.671rem;
      font-weight: bold;
      color: var(--text-light);
    }
  }

  .card-button:hover {
    transform: translateY(-3px);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    filter: brightness(1.05);
  }
}

.service-primary {
  background-color: var(--background) !important;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.service-secondary {
  background-color: var(--secondary);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  p,
  h2 {
    color: white !important;
  }
}

@media (max-width: 900px) {

  #recap {
    box-shadow: none;
    padding: 0;
  }

  .calendar-box {
    box-shadow: none;
    padding: 0;
  }

  .info-form {
    box-shadow: none;
    padding: 0;
  }

  .back {
    position: fixed;
    top: 20px;
    left: 20px;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }

  .calendar-times {
    padding-top: 0;

    .time-wrapper {
      height: fit-content;
      overflow-y: unset

    }
  }

  .calendar-times {
    height: fit-content;
    width: 80vw;
  }


}


@media (max-width: 500px) {

  .service-card {
    width: 100%;
  }

  .time-wrapper {
    padding: 0;

  }

  .select-wrapper {
    flex-direction: column;

    gap: 30px;

    p {
      width: 100% !important;
    }
  }
  .backup-time {
    flex-direction: column;

    div {
      flex-direction: column;
      width: 100%;
    }
  }
  .button {
    width: 100%;
    box-sizing: border-box;
  }

  //calendar start

  #calendar-nav {
    justify-content: center;
  }

  .calender-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #calendar {
    th {
      padding: 3vw;
      border-radius: 5px;
    }
  }
}

//calendar end

//flash messages
@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 1.5s ease-in-out;
}

#flash-messages {
  animation: slideFromTop 1.5s ease-in-out;
  --width: 300px;
  text-align: center;
  width: var(--width);
  position: fixed;
  z-index: 1000;
  top: 30px;
  right: calc(100vw / 2 - var(--width) / 2);

  border-radius: 4px;
  padding: 10px 35px 10px 14px;
  margin-bottom: 10px;
  text-shadow: none;
  background-color: #f2dede; /* Default background color */
  border: 1px solid #ebccd1; /* Default border color */
  color: #a94442; /* Default text color */
}

.alert-danger {
  background-color: rgba(255, 0, 0, 0.87);
}

//flash messages end
