@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&family=Source+Code+Pro:wght@500&display=swap");

:root {
  --text-dark: rgb(29, 27, 39);
  --text-light: rgb(248, 248, 255);
  --background: rgb(248, 248, 255);
  --primary: rgb(55, 86, 247);
  --secondary: rgb(29, 27, 39);
  --accent: rgb(107, 186, 163);


  --shadow: var(--primary) 0px 10px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  --shadow-secondary: var(--secondary) 0px 4px 12px;

  font-size: 16px;
}

.body-container {
  width: 100%;
}

.text-highlight {
  color: var(--highlight-red);
}

p {
  color: var(--text);
}

.card {
  padding: 20px;
  border-radius: 50px;
}

bold {
  font-weight: bold;
}

h1 {
  color: var(--primary);
  font-size: 3.5rem;
  margin-bottom: 50px;

  font-weight: bolder;
  letter-spacing: -2px;
}

body {
  font-family: "Jost", sans-serif;
  font-family: "Source Code Pro", monospace;
  background-color: var(--background);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-container {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.items-table {
  border: 1px black solid;
  border-collapse: collapse;

  th,
  td {
    border: 1px black solid;
    border-collapse: collapse;
    padding: 5px;
  }

  .table-header {
    background-color: inherit;
  }
}

#reservation-steps {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 10px 0;

  .step {
    height: 50px;
    width: 50px;
    border: var(--secondary) 3px solid;
    border-radius: 50%;
    display: inline-block;
  }

  .step.active {
    opacity: 1 !important;
    border: var(--primary) 3px solid;
    background-color: var(--primary);
    cursor: pointer;
  }

  .step.finish {
    opacity: 0.5;
    background-color: var(--secondary);
    cursor: pointer;
  }
}

.reservationForm-wrapper {
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#confirmation {
  max-width: 800px;
  height: fit-content;

  h1 {
    text-align: center;
    font-size: 70px;
  }

  p {
    font-size: 25px;
  }
}

.button {
  padding: 5px 10px;
  border: none !important;
  border-radius: 5px;
  transition-duration: 300ms;
  cursor: pointer;
  margin: 0;
}

.button:hover {
  transform: translateY(-3px);
  color: white;
}

.button.xl {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
}

.nav-buttons {
  padding: 15px 0;

  button {
    width: 100%;
  }
}

.select-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.info-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.backup {
  background-color: var(--secondary);
  border: none;
}

.backup:hover {
  box-shadow: var(--shadow-secondary) !important;
}

.primary {
  background-color: var(--primary) !important;
  color: var(--text-light);
}

.secondary {
  background-color: var(--secondary);
  color: var(--text-light);
  border: none;
}

.secondary:hover {
  box-shadow: var(--shadow-secondary) !important;
}

.service-button:hover {
  color: white;
  cursor: pointer;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.w-full {
  width: 100%;
}

.calendar-head {
  tr {
    border-bottom: 2px solid black;
  }
}

#calendar-nav {
  display: flex;

  img {
    height: 70px;
  }

  #calendar-month {
    width: 100%;
    min-width: 170px;
    text-align: center;
  }
}

#calendar {
  th.weekend {
    color: red;
  }

  th.unavailable {
    background-color: white;
  }

  th.available {
    background-color: var(--primary);
    color: white;
    transition-duration: 300ms;
  }

  th.available:hover {
    cursor: pointer;
    background-color: var(--secondary);
  }

  th {
    padding: 25px;
    border-radius: 20px;
  }
}

.backup-time {
  display: flex;
  flex-direction: column !important;
  padding: 10px 0;

  div {
    display: flex;
    gap: 10px;
  }
}

.time-wrapper {
  padding: 0 180px;

  div {
    div {
      display: flex;
    }
  }

  .time {
    display: flex;
    flex-flow: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;

    p {
      height: fit-content;
    }
  }
}

.calender-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#recap {
  display: flex;
  flex-direction: column;
  gap: 10px;

  div {
    h2 {
      font-size: 20px;
      margin: 0;
    }

    p {
      margin: 0;
    }
  }
}

.discount-code-wrapper {
  div {
    display: flex;
    gap: 10px;

    .button {
      width: fit-content;
    }
  }
}

footer {
  height: 100px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  color: var(--text);
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid var(--secondary) !important;
  background-color: inherit;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

input.valid {
  background-color: #60f87599;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */

/* Mark the active step: */
.step.active {
  background-color: var(--primary) !important;
}

/* Mark the steps that are finished and valid: */

/* Service cards */

.service-card {
  padding: 40px;
  border-radius: 15px;
  max-width: 400px;
  .card-title {
    margin-bottom: 25px;
    h2 {
      font-size: 2.375rem;
      font-weight: bolder;
      letter-spacing: -2px;
      margin: 0;
    }
  }
  .card-text {
    p {
      font-size: 1.263rem;
      margin: 0;
      line-height: 1.875rem;
    }
  }

  .card-price {
    padding: 10px 0;
    font-size: 1.789rem;
    color: var(--accent);
  }

  .card-button {
    border-radius: 10px;
    height: 60px;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 300ms;
    span {
      font-size: 1.671rem;
      font-weight: bold;
      color: var(--text-light);
    }
  }
  .card-button:hover {
    transform: translateY(-3px);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    filter: brightness(1.05);
  }
}

.service-primary {
  background-color: var(--background) !important;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.service-secondary {
  background-color: var(--secondary);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  p,
  h2 {
    color: white !important;
  }
}




@media (max-width: 500px) {

  .service-card {
    width: 100%;
  }
  
  .time {
    flex-direction: column;
  }

  .time-wrapper {
    padding: 0;
  }

  .select-wrapper {
    flex-direction: column;

    gap: 30px;
  }
  .backup-time {
    flex-direction: column;

    div {
      flex-direction: column;
      width: 100%;
    }
  }
  .button {
    width: 100%;
    box-sizing: border-box;
  }

  .tab {
    width: 90vw;
  }

  #calendar-nav {
    justify-content: center;
  }

  .calender-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #calendar {
    th {
      padding: 3vw;
      border-radius: 5px;
    }
  }
}
