@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
:root {
  --text-dark: rgb(29, 27, 39);
  --text-light: rgb(248, 248, 255);
  --background: #eeeeee;
  --white: #f9fafb;
  --primary: #d0482b;
  --secondary: rgb(29, 27, 39);
  --accent: #fd4d4d;
  --shadow: var(--primary) 0px 10px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  --shadow-secondary: rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
  --radius: 12px;
  font-size: 16px;
}

.hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}

.text-highlight {
  color: var(--highlight-red);
}

p {
  color: var(--text);
}

.h2-center {
  text-align: center;
  font-weight: 500;
}

.card {
  width: 100%;
  padding: 20px;
  border-radius: var(--radius);
  box-shadow: var(--shadow-secondary);
  background-color: var(--white);
}
@media (max-width: 500px) {
  .card {
    background: inherit;
    box-shadow: none;
  }
}

bold {
  font-weight: bold;
}

h1 {
  color: var(--primary);
  font-size: 3.5rem;
  margin-bottom: 50px;
  font-weight: bolder;
  letter-spacing: -1px;
}

body {
  font-family: "PT Sans Narrow", sans-serif;
  background-color: var(--background);
  margin: 0;
}
@media (max-width: 500px) {
  body {
    background: white;
  }
}

.body-wrapper {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(94, 94, 94, 0.8);
  border-radius: 25px;
}
@media (max-width: 500px) {
  .back {
    position: fixed;
    top: 20px;
    left: 20px;
  }
}
.back img {
  width: 28px;
  color: var(--primary);
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.back:hover {
  background-color: rgba(139, 157, 248, 0.72);
}

.body-container {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
}

.items-table {
  border: 1px black solid;
  border-collapse: collapse;
}
.items-table th,
.items-table td {
  border: 1px black solid;
  border-collapse: collapse;
  padding: 5px;
}
.items-table .table-header {
  background-color: inherit;
}

#reservation-steps {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 10px 0;
}
#reservation-steps .step {
  height: 50px;
  width: 50px;
  border: var(--secondary) 3px solid;
  border-radius: var(--radius);
  display: inline-block;
}
#reservation-steps .step.active {
  opacity: 1 !important;
  border: var(--primary) 3px solid;
  background-color: var(--primary);
  cursor: pointer;
}
#reservation-steps .step.finish {
  opacity: 0.5;
  background-color: var(--secondary);
  cursor: pointer;
}

.reservationForm-wrapper {
  width: 100%;
  margin-top: 60px;
}
@media (max-width: 500px) {
  .reservationForm-wrapper {
    margin-top: 0;
  }
}
.reservationForm-wrapper h1 {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#confirmation {
  margin-top: 10rem;
  max-width: 800px;
  height: -moz-fit-content;
  height: fit-content;
}
#confirmation h1 {
  text-align: center;
  font-size: 2rem;
}
#confirmation p {
  font-size: 1rem;
}

#calendar-selected-date {
  font-size: 1rem;
  font-weight: 400;
}

.button {
  padding: 5px 10px;
  border: none !important;
  border-radius: 5px;
  transition-duration: 300ms;
  cursor: pointer;
  margin: 0;
  text-decoration: none;
  color: black;
  transition: 100ms;
}

.button:hover {
  filter: brightness(90%);
}

.button-time {
  border: 1px solid var(--primary) !important;
  color: var(--primary) !important;
  font-weight: 500;
  font-size: 1rem;
}

.button-time:hover {
  background: var(--primary) !important;
  color: var(--text-light) !important;
}

.button-backup {
  border: 1px solid var(--secondary) !important;
  color: var(--secondary) !important;
  font-weight: 500;
  font-size: 1rem;
}

.button-backup:hover {
  background: var(--secondary) !important;
  color: var(--text-light) !important;
}

.button.xl {
  font-size: 1rem;
  padding: 10px 10px;
  border-radius: 10px;
}

.nav-buttons {
  padding: 15px 0;
}
.nav-buttons button {
  width: 100%;
}

.select-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.services-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}

.info-form {
  background: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 500px;
  box-shadow: var(--shadow-secondary);
  border-radius: var(--radius);
}
@media (max-width: 500px) {
  .info-form {
    width: 90%;
    background: none;
    box-shadow: none;
  }
}
.info-form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.backup {
  background-color: var(--secondary);
  border: none;
}

.backup:hover {
  box-shadow: var(--shadow-secondary) !important;
}

.primary {
  background-color: var(--primary) !important;
  color: var(--text-light);
}

.secondary {
  background-color: var(--secondary);
  color: var(--text-light);
  border: none;
}

.secondary:hover {
  box-shadow: var(--shadow-secondary) !important;
}

.service-button:hover {
  color: var(--white);
  cursor: pointer;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.w-full {
  width: 100%;
}

#snippet--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.time-wrapper {
  max-height: 380px;
  overflow-y: scroll;
}
@media (max-width: 500px) {
  .time-wrapper {
    height: -moz-max-content !important;
    height: max-content !important;
    padding: 0 20px;
    max-height: unset;
  }
}
.time-wrapper div div {
  display: flex;
}
.time-wrapper .time {
  gap: 10px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10px;
}
@media (max-width: 500px) {
  .time-wrapper .time {
    flex-direction: row;
  }
}
.time-wrapper .time p {
  text-align: center;
  width: 100%;
}
@media (max-width: 500px) {
  .time-wrapper .time p {
    width: 100%;
  }
}
.time-wrapper .time p:hover {
  color: var(--white);
  background-color: var(--secondary);
}
.time-wrapper .backup-time {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.time-wrapper .backup-time div {
  display: flex;
  gap: 10px;
  width: 100%;
}

.calendar-box {
  display: flex;
  background: var(--white);
  box-shadow: var(--shadow-secondary);
  padding: 20px;
  border-radius: var(--radius);
  gap: 10px;
}
@media (max-width: 500px) {
  .calendar-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none !important;
    border: none;
    box-shadow: none;
    width: 100%;
  }
}

.calender-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calendar-times {
  display: none;
  padding-top: 136px;
  height: 100px;
  width: 150px;
}
@media (max-width: 500px) {
  .calendar-times {
    padding-top: 10px;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
}

.calendar-head tr {
  border-bottom: 2px solid black;
}

#calendar-nav {
  display: flex;
  gap: 10px;
  align-items: center;
}
#calendar-nav img {
  height: 37px;
  border: 1px solid grey;
  border-radius: 50%;
}
#calendar-nav img:hover {
  background-color: #ffedd5;
}
#calendar-nav h2 {
  margin: 0;
  font-weight: lighter;
}
#calendar-nav thead {
  color: grey;
}
#calendar-nav #calendar-month {
  width: 100%;
  min-width: 170px;
  text-align: center;
}

#calendar {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, minmax(min-content, 1fr));
}
#calendar .day {
  padding: 25px; /* Default padding based on viewport width */
  box-shadow: var(--shadow-secondary);
  border-radius: 9px;
  margin: 5px;
  text-align: center;
}
@media (max-width: 768px) {
  #calendar .day {
    padding: 3vw; /* Reduce padding for smaller screens */
  }
}
@media (max-width: 480px) {
  #calendar .day {
    margin: 3px;
  }
}
#calendar .day-legend {
  padding: 0;
  text-align: center;
}
#calendar .different-month {
  background-color: rgba(128, 128, 128, 0.32) !important;
}
#calendar .weekend {
  color: white;
}
#calendar .unavailable {
  background-color: var(--white);
  color: grey;
}
#calendar .available {
  background-color: var(--primary);
  color: var(--white);
  transition-duration: 300ms;
}
#calendar .available.selected {
  background-color: var(--secondary);
}
#calendar .available:hover {
  cursor: pointer;
  background-color: var(--secondary);
}
#calendar div {
  padding: 25px;
}

#recap {
  background-color: var(--white);
  box-shadow: var(--shadow-secondary);
  padding: 50px;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
}
@media (max-width: 500px) {
  #recap {
    width: 90%;
    box-shadow: none;
  }
}
#recap img {
  width: 30px;
}
#recap #address::after {
  content: ",";
}
#recap div {
  display: flex;
  gap: 10px;
  align-items: center;
}
#recap div h2 {
  font-size: 20px;
  margin: 0;
}
#recap div p {
  margin: 0;
  font-size: 1.2rem;
}

.discount-code-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
}
.discount-code-wrapper div {
  display: flex;
  gap: 10px;
}
@media (max-width: 500px) {
  .discount-code-wrapper div {
    width: 100%;
    gap: 20px;
  }
}
.discount-code-wrapper div .button {
  width: -moz-fit-content;
  width: fit-content;
}

.btn-secondary {
  border: 2px solid var(--primary) !important;
}
.btn-secondary p {
  color: var(--primary) !important;
}

/* Style the input fields */
input {
  font-family: "PT Sans Narrow", sans-serif;
  padding: 10px 15px;
  width: 100%;
  font-size: 1rem;
  font-weight: lighter;
  color: var(--text);
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid gray !important;
  background-color: inherit;
}

input:focus {
  outline: var(--primary);
  border: 1px solid var(--primary) !important;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

input.valid {
  background-color: rgba(96, 248, 117, 0.6);
}

/* Hide all steps by default: */
.tab {
  display: none;
  flex-direction: column;
  align-items: center;
}

/* Make circles that indicate the steps of the form: */
/* Mark the active step: */
.step.active {
  background-color: var(--primary) !important;
}

/* Mark the steps that are finished and valid: */
/* Service cards */
.service-card {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-width: 370px !important;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  border-radius: var(--radius);
  max-width: 400px;
  box-shadow: var(--shadow-secondary);
}
@media (max-width: 500px) {
  .service-card {
    background: none;
    border: none;
    box-shadow: none !important;
    min-width: unset !important;
  }
}
.service-card .card-info {
  gap: 5px;
  display: flex;
  align-items: center;
}
.service-card .card-title {
  margin-bottom: 10px;
}
.service-card .card-title h2 {
  font-size: 1.7rem;
  font-weight: bolder;
  letter-spacing: 0px;
  margin: 0;
}
.service-card .card-text p {
  font-size: 1rem;
  margin: 0;
  line-height: 1.2rem;
}
.service-card .card-price {
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 700;
  color: var(--accent);
}
.service-card .card-button {
  padding: 10px 14px;
  border-radius: calc(var(--radius) / 2);
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 300ms;
  box-shadow: var(--shadow-secondary);
}
.service-card .card-button span {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-light);
}
.service-card .card-button:hover {
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  filter: brightness(1.05);
}

.service-primary {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.service-secondary {
  background-color: var(--secondary);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.service-secondary p,
.service-secondary h2 {
  color: white !important;
}

.payment-wrapper {
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-secondary);
  border-radius: var(--radius);
  gap: 50px;
  padding: 30px;
  font-size: 1.2rem;
}
.payment-wrapper h2 {
  margin: 0;
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.payment-wrapper .payment-qr-code {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.payment-wrapper .payment-qr-code img {
  width: 100px;
  height: 100px;
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade-out {
  animation: fadeOut 1.5s ease-in-out;
}

#flash-messages {
  animation: slideFromTop 1.5s ease-in-out;
  --width: 300px;
  text-align: center;
  width: var(--width);
  position: fixed;
  z-index: 1000;
  top: 30px;
  right: calc(50vw - var(--width) / 2);
  border-radius: 4px;
  padding: 10px 35px 10px 14px;
  margin-bottom: 10px;
  text-shadow: none;
  background-color: #f2dede; /* Default background color */
  border: 1px solid #ebccd1; /* Default border color */
  color: #a94442; /* Default text color */
}

.alert-danger {
  background-color: rgba(255, 0, 0, 0.87);
}

footer {
  width: 100%;
  background-color: #71717a;
  margin-top: 50px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

#logo-footer {
  align-self: center;
}

.footer-wrapper {
  display: flex;
  gap: 30px;
  box-sizing: border-box;
  align-items: center;
}
@media (max-width: 700px) {
  .footer-wrapper {
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }
}
.footer-wrapper h4 {
  margin: 0;
}
.footer-wrapper p {
  margin: 0;
  color: white;
}

.footer-row {
  display: flex;
  gap: 10px;
  align-items: center;
}/*# sourceMappingURL=styles.css.map */