@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&family=Source+Code+Pro:wght@500&display=swap');

html {


  --text: rgb(9, 9, 27);
  --background: rgb(255, 255, 255);
  --primary: rgb(54, 86, 247);
  --secondary: rgb(29, 27, 39);
  --accent: rgb(107, 186, 163);




  /*
    --text: #090101;
    --background: #ffffff;
    --primary: #87e52a;
    --secondary: #a4f4f4;
    --accent: #6616b6;
  */


  --shadow: var(--primary) 0px 10px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  --shadow-secondary: var(--secondary) 0px 4px 12px;

  font-size: 16px;


  /*
 --text: #0e0a06;
  --background: #f9f5f1;
  --primary: #305473;
  --secondary: #ebddd0;
  --accent: #477ba9;

  --shadow-clicked: rgba(50, 50, 93, 0.25) 0px 30px 60 px - 12 px inset, rgba(0, 0, 0, 0.3) 0px 18px 36 px - 18 px inset;
  */
}

.body-container {
  width: 100%;
}

.text-highlight {
  color: var(--highlight-red);
}

p {
  color: var(--text);
}


.card {
  padding: 20px;
  border-radius: 50px;

}

bold {
  font-weight: bold;
}

h1 {
  color: var(--accent);
  margin-bottom: 50px;
}

body {
  font-family: 'Jost', sans-serif;
  font-family: 'Source Code Pro', monospace;
  background-color: var(--background);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-container {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.items-table {
  border: 1px black solid;
  border-collapse: collapse;

  th,
  td {
    border: 1px black solid;
    border-collapse: collapse;
    padding: 5px;
  }

  .table-header {
    background-color: inherit;
  }
}

#reservation-steps {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 10px 0;

  .step {
    height: 50px;
    width: 50px;
    border: var(--accent) 3px solid;
    border-radius: 50%;
    display: inline-block;
  }

  .step.active {
    opacity: 1;
    border: var(--primary) 3px solid;
    background-color: var(--primary);
    cursor: pointer;

  }

  .step.finish {
    opacity: 0.5;
    background-color: var(--accent);
    cursor: pointer;
  }
}

.reservationForm-wrapper {
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#confirmation {
  max-width: 800px;
  height: fit-content;

  h1 {
    text-align: center;
    font-size: 70px;
  }

  p {
    font-size: 25px;
  }
}


.button {
  padding: 5px 10px;
  border: none !important;
  border-radius: 5px;
  transition-duration: 300ms;
  cursor: pointer;
  margin: 0;
}

.button:hover {
  transform: translateY(-3px);
  color: white;
  box-shadow: var(--shadow);
}

.button.xl {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
}

.nav-buttons {
  padding: 15px 0;

  button {
    width: 100%;
  }
}

.select-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-form {
  display: flex;
  flex-direction: column;
  gap: 10px;


}


.backup {
  background-color: var(--secondary);
  border: none;
}

.backup:hover {
  box-shadow: var(--shadow-secondary) !important;
}


.primary {
  background-color: var(--primary) !important;
  color: var(--text-light);
}

.secondary {
  background-color: var(--secondary);
  color: var(--text-light);
  border: none;
}

.secondary:hover {
  box-shadow: var(--shadow-secondary) !important;
}

.service-button:hover {
  color: white;
  cursor: pointer;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.w-full {
  width: 100%;
}

.calendar-head {
  tr {
    border-bottom: 2px solid black;
  }
}

#calendar-nav {
  display: flex;

  img {
    height: 70px;
  }

  #calendar-month {
    width: 100%;
    min-width: 170px;
    text-align: center;
  }
}


#calendar {

  th.day {
  }

  th.weekend {
    color: red;
  }

  th.unavailable {
    background-color: white;
  }

  th.available {
    background-color: var(--primary);
    color: white;
    transition-duration: 300ms;
  }

  th.available:hover {
    cursor: pointer;
    background-color: var(--secondary);
  }

  th {
    padding: 25px;
    border-radius: 20px;
  }

  .week {
  }

}

.backup-time {
  display: flex;
  flex-direction: column !important;

  div {
    display: flex;
    gap: 10px;
  }
}

.time-wrapper {
  padding: 0 180px;

  div {
    div {
      display: flex;
    }
  }

  .time {
    display: flex;
    flex-flow: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;

    p {
      height: fit-content;
    }
  }
}

.calender-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {

  .time {
    flex-direction: column;
  }

  .time-wrapper {
    padding: 0;
  }

  .select-wrapper {
    flex-direction: column;
  }
  .backup-time {
    flex-direction: column;

    div {
      flex-direction: column;
      width: 100%;
    }
  }
  .button {
    width: 100%;
    box-sizing: border-box;
  }

  .tab {
    width: 90vw;
  }

  #calendar-nav {
    justify-content: center;
  }

  .calender-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  #calendar {
    th {
      padding: 3vw;
      border-radius: 5px;
    }
  }

}

#recap {
  display: flex;
  flex-direction: column;
  gap: 10px;

  div {
    h2 {
      font-size: 20px;
      margin: 0;
    }

    p {
      margin: 0;
    }
  }
}

.discount-code-wrapper {
  div {
    display: flex;
    gap: 10px;

    .button {
      width: fit-content;
    }
  }
}

footer {
  height: 100px;
}


/* Style the form */
#regForm {
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  color: var(--text);
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid var(--secondary) !important;
  background-color: inherit;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

input.valid {
  background-color: #60f87599;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */

/* Mark the active step: */
.step.active {
  opacity: 1;
  border: none;
  background-color: var(--primary) !important;
}

/* Mark the steps that are finished and valid: */

