services:
	- App\Router\RouterFactory::createRouter
	- App\Modules\Authenticator
	- App\Modules\AvailableDates
	- App\Modules\Mailer
	- App\Modules\Payments


search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade

