services:
	- App\Router\RouterFactory::createRouter
	- App\Modules\Authenticator
	- App\Modules\AvailableDates
	- App\Modules\Mailer
	- App\Modules\Payments
	- App\Modules\DiscountCodes
	- App\Modules\Admin\Presenters\ApiPresenter


search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade

