{block content}
<h1>Vytvořit nový kód</h1>

{control form}

<!--
<form n:name="form">
    <input n:name="action" value="create">
    <div><label for="">Kód</label><input n:name="code"></div>
    <div><input n:name="active"><label for="">Aktivní</label></div>

    <div><input n:name="save"></div>
</form>
-->