<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="icon" href="{$basePath}/front/assets/images/favicon.ico">
	<link rel="stylesheet" href="{$basePath}/front/assets/css/">
	<link rel="stylesheet" href="{$basePath}/assets/front/css/styles.css">

	<title>Neon | Dashboard</title>


	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
</head>

<body>
<div class="body-container"></div>
{include content}

</body>
</html>
