<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="icon" href="{$basePath}/assets/images/favicon.ico">
	<link rel="stylesheet" href="{$basePath}/assets/front/css/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="{$basePath}/assets/bundle.js"></script>
	<script src="{$basePath}/assets/js/jquery-1.11.3.min.js"></script>


	<title>Neon | Dashboard</title>


	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
</head>

<body>
<main class="body-container">{include content}</main>

{block scripts}
	<script src="https://unpkg.com/nette-forms@3/src/assets/netteForms.js"></script>

{/block}

</body>
</html>
